
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" style="padding-top: 0px;">
    <!-- Content starts here -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Probate prototypes</h1>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 10px;">IHT transformation</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="600">URLs</th>
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Last changes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="IHT-transformation/v1/1-task_list.html" style="text-decoration: none;color:#1d70b8;">Usability testing: excepted estate and IHT400 only</a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">05 July 2023</td>
            </tr>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="IHT-transformation/v2/1-task_list-new.html" style="text-decoration: none;color:#1d70b8;">"To be" designs: IHT transformation</a>
                </td>
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">21 July 2023</td>
              </tr>

          </tbody>
        </table>
        
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 10px;">Prototypes matching "as is" journey</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="600">URLs</th>
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Last changes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="as_it_is_scenario_1/v1/page_1.html" style="text-decoration: none;color:#1d70b8;">"As is" end-to-end probate journey - </a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">19 January 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v2/full_application/application_1a" style="text-decoration: none;color:#1d70b8;">"As is" probate journey - Citizen Dashboard</a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">19 January 2023</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 10px;">Prototypes building on "as is" hub journeys</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="600">URLs</th>
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Last changes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="hub_versions/v1/page_a.html" style="text-decoration: none;color:#1d70b8;">Hub notification 1 - executor details as radio buttons</a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">18 October 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="hub_versions/v2/page_a.html" style="text-decoration: none;color:#1d70b8;">Hub notification 2 - executor details as free text</a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">18 October 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="hub_versions/v3/page_a.html" style="text-decoration: none;color:#1d70b8;">Hub notification 3 - application stopped</a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">18 October 2022</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 10px;">Prototypes for "Application submitted" page</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="600">URLs</th>
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Last changes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v3/full_application/application_160.html" style="text-decoration: none;color:#1d70b8;">MVP / Hub - Standard application - Happy path</a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">24 October 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v3/full_application/application_166.html" style="text-decoration: none;color:#1d70b8;">MVP / Hub - Standard application - Unhappy path</a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">24 October 2022</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 10px;">Prototypes for intestacy journeys</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="600">URLs</th>
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Last changes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v3/full_application/application_173.html" style="text-decoration: none;color:#1d70b8;">MVP / Hub - Intestacy with docs application</a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">24 October 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v3/full_application/application_179.html" style="text-decoration: none;color:#1d70b8;">MVP / Hub - Intestacy with no docs application</a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">24 October 2022</td>
            </tr>
          </tbody>
        </table>

         <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 10px;">Smaller improvements that may or may not be signed off</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="600">URLs</th>
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Last changes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="as_it_is_scenario_1/v1/page_63b.html" style="text-decoration: none;color:#1d70b8;">MVP / New thanks page </a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">02 November 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="as_it_is_scenario_1/v1/page_14b.html" style="text-decoration: none;color:#1d70b8;">MVP / Remove section 6 </a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">02 November 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v3/full_application/application_1d.html" style="text-decoration: none;color:#1d70b8;">MVP / New UI for applications page </a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">02 November 2022</td>
            </tr>
          </tbody>
        </table>
        
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 10px;">Smaller improvements that are not signed off</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="600">URLs</th>
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Last changes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v1/full_application/application_1.html" style="text-decoration: none;color:#1d70b8;">Improvements in end-to-end journey (until Condition of Will section)</a>    
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">08 August 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v2/full_application/application_1a.html" style="text-decoration: none;color:#1d70b8;">Improvements in end-to-end journey (until inheritance tax section)</a>
              </td>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">31 August 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v3/full_application/application_2.html" style="text-decoration: none;color:#1d70b8;">Improvements in end-to-end journey (end-to-end full journey)</a>
              </td>
              <td class="govuk-table__cell">3</td>
              <td class="govuk-table__cell">14 October 2022</td>
            </tr>
          </tbody>
        </table>
        
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 10px;">Proposed redesigns (not signed off)</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="600">URLs</th>
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Last changes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v1/proposed_header/header_1.html" style="text-decoration: none;color:#1d70b8;">Proposed service's header</a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">08 August 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v1/proposed_applications_landingpage/landingpage_1.html" style="text-decoration: none;color:#1d70b8;">Proposed application landing page</a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">01 August 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v1/proposed_application_dashboard/dashboard_1.html" style="text-decoration: none;color:#1d70b8;">Proposed application dashboard</a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">03 August 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v1/proposed_dashboard_first_time/application_1.html" style="text-decoration: none;color:#1d70b8;">Proposed journey for first time </a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">03 August 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v1/proposed_dashboard_in_progress/application_1.html" style="text-decoration: none;color:#1d70b8;">Proposed journey in progress </a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">03 August 2022</td>
            </tr>
            {# 
            If you're reading this and wondering why these haven't been deleted altogether, it's because they might add a bit of clarity to the file structure of this, the biggest of all prototypes - Rich
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="as_it_is_scenario_2/v1/page_1.html" style="text-decoration: none;color:#1d70b8;">Existing end-to-end probate journey - Scenario 2</a>
              </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">29 November 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="as_it_is_scenario_3/v1/page_1.html" style="text-decoration: none;color:#1d70b8;">Existing end-to-end probate journey - Scenario 3</a>
              </td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
            </tr> #}
          </tbody>
        </table>

      </div>
    </div>
    <br><br>
    <!-- Content ends here -->
  </main>
</div>
<!-- Body finish here -->
{% endblock %}
