<footer class="gem-c-layout-footer govuk-footer gem-c-layout-footer--border" role="contentinfo">
  <div class="govuk-width-container">
      <div class="govuk-footer__navigation" data-module="gem-track-click" data-track-links-only>
            <div class="govuk-grid-column-two-thirds govuk-!-display-none-print">
              <h2 class="govuk-footer__heading govuk-heading-m">Topics</h2>
                <ul class="govuk-footer__list govuk-footer__list--columns-2">
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/benefits" data-track-options='{"dimension29":"Benefits"}' href="/browse/benefits">Benefits</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/births-deaths-marriages" data-track-options='{"dimension29":"Births, death, marriages and care"}' href="/browse/births-deaths-marriages">Births, death, marriages and care</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/business" data-track-options='{"dimension29":"Business and self-employed"}' href="/browse/business">Business and self-employed</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/childcare-parenting" data-track-options='{"dimension29":"Childcare and parenting"}' href="/browse/childcare-parenting">Childcare and parenting</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/citizenship" data-track-options='{"dimension29":"Citizenship and living in the UK"}' href="/browse/citizenship">Citizenship and living in the UK</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/cost-of-living" data-track-options='{"dimension29":"Cost of living support"}' href="/cost-of-living">Cost of living support</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/justice" data-track-options='{"dimension29":"Crime, justice and the law"}' href="/browse/justice">Crime, justice and the law</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/disabilities" data-track-options='{"dimension29":"Disabled people"}' href="/browse/disabilities">Disabled people</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/driving" data-track-options='{"dimension29":"Driving and transport"}' href="/browse/driving">Driving and transport</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/education" data-track-options='{"dimension29":"Education and learning"}' href="/browse/education">Education and learning</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/employing-people" data-track-options='{"dimension29":"Employing people"}' href="/browse/employing-people">Employing people</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/environment-countryside" data-track-options='{"dimension29":"Environment and countryside"}' href="/browse/environment-countryside">Environment and countryside</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/housing-local-services" data-track-options='{"dimension29":"Housing and local services"}' href="/browse/housing-local-services">Housing and local services</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/tax" data-track-options='{"dimension29":"Money and tax"}' href="/browse/tax">Money and tax</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/abroad" data-track-options='{"dimension29":"Passports, travel and living abroad"}' href="/browse/abroad">Passports, travel and living abroad</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/visas-immigration" data-track-options='{"dimension29":"Visas and immigration"}' href="/browse/visas-immigration">Visas and immigration</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="topicsLink" data-track-label="/browse/working" data-track-options='{"dimension29":"Working, jobs and pensions"}' href="/browse/working">Working, jobs and pensions</a>
                      </li>
                </ul>
            </div>
            <div class="govuk-grid-column-one-third govuk-!-display-none-print">
              <h2 class="govuk-footer__heading govuk-heading-m">Government activity</h2>
                <ul class="govuk-footer__list govuk-footer__list--columns-1">
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="governmentactivityLink" data-track-label="/government/organisations" data-track-options='{"dimension29":"Departments"}' href="/government/organisations">Departments</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="governmentactivityLink" data-track-label="/search/news-and-communications" data-track-options='{"dimension29":"News"}' href="/search/news-and-communications">News</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="governmentactivityLink" data-track-label="/search/guidance-and-regulation" data-track-options='{"dimension29":"Guidance and regulation"}' href="/search/guidance-and-regulation">Guidance and regulation</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="governmentactivityLink" data-track-label="/search/research-and-statistics" data-track-options='{"dimension29":"Research and statistics"}' href="/search/research-and-statistics">Research and statistics</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="governmentactivityLink" data-track-label="/search/policy-papers-and-consultations" data-track-options='{"dimension29":"Policy papers and consultations"}' href="/search/policy-papers-and-consultations">Policy papers and consultations</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="governmentactivityLink" data-track-label="/search/transparency-and-freedom-of-information-releases" data-track-options='{"dimension29":"Transparency"}' href="/search/transparency-and-freedom-of-information-releases">Transparency</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="governmentactivityLink" data-track-label="/government/how-government-works" data-track-options='{"dimension29":"How government works"}' href="/government/how-government-works">How government works</a>
                      </li>
                      <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="governmentactivityLink" data-track-label="/government/get-involved" data-track-options='{"dimension29":"Get involved"}' href="/government/get-involved">Get involved</a>
                      </li>
                </ul>
            </div>
      </div>

      <hr class="govuk-footer__section-break">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-visually-hidden">Support links</h2>
          <ul class="govuk-footer__inline-list govuk-!-display-none-print" data-module="gem-track-click" data-track-links-only>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="supportLink" data-track-label="/help" data-track-options='{"dimension29":"Help"}' href="/help">Help</a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="supportLink" data-track-label="/help/privacy-notice" data-track-options='{"dimension29":"Privacy"}' href="/help/privacy-notice">Privacy</a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="supportLink" data-track-label="/help/cookies" data-track-options='{"dimension29":"Cookies"}' href="/help/cookies">Cookies</a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="supportLink" data-track-label="/help/accessibility-statement" data-track-options='{"dimension29":"Accessibility statement"}' href="/help/accessibility-statement">Accessibility statement</a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="supportLink" data-track-label="/contact" data-track-options='{"dimension29":"Contact"}' href="/contact">Contact</a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="supportLink" data-track-label="/help/terms-conditions" data-track-options='{"dimension29":"Terms and conditions"}' href="/help/terms-conditions">Terms and conditions</a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" lang="cy" data-track-category="footerClicked" data-track-action="supportLink" data-track-label="/cymraeg" data-track-options='{"dimension29":"Rhestr o Wasanaethau Cymraeg"}' href="/cymraeg">Rhestr o Wasanaethau Cymraeg</a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" data-track-category="footerClicked" data-track-action="supportLink" data-track-label="/government/organisations/government-digital-service" data-track-options='{"dimension29":"Government Digital Service"}' href="/government/organisations/government-digital-service">Government Digital Service</a>
              </li>
          </ul>
        <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
          <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
        </svg>
        <span class="govuk-footer__licence-description" data-module="gem-track-click" data-track-action="copyrightLink" data-track-category="footerClicked" data-track-label="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" data-track-options='{"dimension29": "Open Government Licence v3.0"}' data-track-links-only>
          All content is available under the <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item" data-module="gem-track-click" data-track-action="copyrightLink" data-track-category="footerClicked" data-track-label="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/" data-track-options='{"dimension29": "© Crown copyright"}' data-track-links-only>
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>