<header class="hmcts-header" role="banner" style="background-color: #8d100e;">
    <div class="govuk-width-container" style="max-width: 1300px;">
        <!-- Header - Top row -->
        <div style="margin: 0 auto;">
            <div style="display: flex; justify-content: center;">
                <div style="width: 100px; ">
                    <img src="/public/images/govlogowhite.png" width="73" height="60" style="margin-top:10px;">
                </div>
                <div style="display: flex; flex-grow: 1; flex-direction: column;">
                    <div style="display: flex; flex-grow: 1;">
                        <div class="hmcts-header__logo">
                            <a class="hmcts-header__link" href="/" aria-current="page">Judicial case manager</a>
                        </div>
                        <div style="display: flex; flex-grow: 1;">
                        </div>
                        <div class="hmcts-header__content">
                            <nav class="hmcts-header__navigation" aria-label="Account navigation">
                                <ul class="hmcts-header__navigation-list">
                                    <li class="hmcts-header__navigation-item">
                                        <a class="hmcts-header__navigation-link" href="#">
                                            Sign out
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div  style="background-color: #8d100e; display: flex; flex-grow: 1; flex-direction: row; ">
                        <div>
                            <nav class="hmcts-primary-navigation" aria-label="Primary navigation" style="background-color: #8d100e; ">
                                <ul class="hmcts-primary-navigation__list">
                                    <li class="hmcts-primary-navigation__item">
                                        <a class="hmcts-primary-navigation__link" href="#">
                                            My work
                                        </a>
                                    </li>
                                    <li class="hmcts-primary-navigation__item">
                                        <a class="hmcts-primary-navigation__link" href="#">
                                            All work
                                        </a>
                                    </li>
                                    <li class="hmcts-primary-navigation__item">
                                        <a class="hmcts-primary-navigation__link" href="/searchcases/pages/startsearch">
                                            Search cases
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div style="display: flex; flex-grow: 1;"></div>
                        <div style="display: flex; flex-direction: row; ">
                            <p style="color: white; margin-top:8px; margin-bottom: 0px;">16-digit case reference:  &nbsp;</p>
                            <input class="govuk-input" id="hmctsref" name="hmctsref" type="text" spellcheck="false" style="width:219px;">
                            <a href="/opencase" role="button" draggable="false" class="govuk-button govuk-button--secondary"
                               style="height:36px; margin-left: 4px; margin-top: 2px;  margin-bottom: 0px;">
                                Find
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- BETA BANNER -->

<div style=" max-width:1300px; margin: 0 auto;">
    <div class="govuk-phase-banner govuk-width-container" style=" max-width:1300px;  min-width:960px;">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
              beta
            </strong>
            <span class="govuk-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>
</div>

<!-- BODY -->

<div class="govuk-width-container" style="max-width: 1300px;">
    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Default page template</h1>
            </div>
        </div>
        
    </main>
</div>
