<script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>

<script src="/javascripts/govuk-frontend-e760ebaf8cacb669955450a7208ba325.js"></script>
<!--[if !IE 8]><!-->
<script src="/javascripts/application-cb59d888c0597f7916563ba8f6ec8f90.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="/javascripts/application-ie8-0222150a7b1aaf40aea5505d6949acdf.js"></script>
<![endif]-->

<script src="/public/all.js"></script>

<script src="/javascript/govuk-frontend-<VERSION-NUMBER>.min.js"></script>
    
<script>window.GOVUKFrontend.initAll()</script>

<script src="/govuk-frontend/all.js"></script>





