
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  {% include "../../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" style="padding-bottom: 5px;">Details about the will</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 40px;">Sorry but you cannot complete this section without access to the original legal will</h1>

        <!--
        <div class="govuk-inset-text">
          You will need the will infront to you to respond the questions in this section about the phisical condition of the will. 
          <br>
          We may stop your application if you do not tell us about any marks or damage to the will.
        </div>
        -->

        <span for="contact-by-phone" class="govuk-body">
          Return to the application overview and complete this section when you have access to the will. 
        </span>

        <br><br><br>

        <form>
          <div class="govuk-button-group">
            <!--
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            -->
            <a class="govuk-link" href="application_18.html" style="color: #1d70b8">Return to application overview</a>
          </div>
        </form>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
