
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  {% include "../../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" style="padding-bottom: 5px;">Details about the applicant</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 40px;">Check your answers for this section</h1>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Your personal details</h2>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <dl class="govuk-summary-list govuk-!-margin-bottom-8">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width: 30%;">
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  First name
                </dt>
                <dd class="govuk-summary-list__value">
                  Mo
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> first name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Middle name
                </dt>
                <dd class="govuk-summary-list__value">
                   Alex
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> middle name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Last name
                </dt>
                <dd class="govuk-summary-list__value">
                  Smith
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> last name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email
                </dt>
                <dd class="govuk-summary-list__value">
                  mo.smith@example.com
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> email</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Phone number
                </dt>
                <dd class="govuk-summary-list__value">
                  07700900457
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> phone number</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  72 Guild Street<br>London<br>SE23 6FH
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> address</span>
                  </a>
                </dd>
              </div>
              <!--
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Is your full name exactly what appears on the will?
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> Is your full name exactly what appears on the will?</span>
                  </a>
                </dd>
              </div>
              -->
            </dl>
          </div>
        </div>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Your details in the will</h2>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9" style="margin-bottom: 40px!important;">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width: 70%;">
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Are you named as an executor on the will?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> Are you named as an executor on the will?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Is your full name exactly what appears on the will?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> Is your full name exactly what appears on the will?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Are all the executors including you able to make their own decisions?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> Are all the executors including you able to make their own decisions?</span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!--
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked="">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              I confirm that the details above are correct and do not affect my eligibility to continue this probate application as applicant.
            </label>
          </div>
        </div>
        -->


        <form action="application_4" style="padding-top:10px;">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            &nbsp;&nbsp;
            <a class="govuk-link" href="javascript:history.back()" style="color: #1d70b8">Save and return to application overview</a>
          </div>
        </form>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
