
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  {% include "../../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" style="padding-bottom: 5px;">Details about the will</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Check your answers for this section </h1>

        <!--<h2 class="govuk-heading-m" style="margin-bottom: 0px;">Your personal details</h2>-->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <dl class="govuk-summary-list govuk-!-margin-bottom-7">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width: 50%;">
                </dt>
                <dd class="govuk-summary-list__value" style="width: 30%;">
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 Do you have the original legal will with you?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Does the will have any marks or damages?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 Check the will for any marks or damages and select an option
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  Staples marks and punch holes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Check the will for any marks or damages and select an option</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do you know why the will has staple marks?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  Human error
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Do you know why the will has staple marks?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do you know who’s responsible for the staple marks?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  Alison Coward
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Do you know who’s responsible for the staple marks?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do you know roughly when the staple marks appeared on the will?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  12 03 2019
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Do you know roughly when the staple marks appeared on the will?</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do you know why the will has punch holes?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Do you know why the will has staple marks?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do you know who’s responsible for the punch holes?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Do you know who’s responsible for the staple marks?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do you know roughly when the punch holes appeared on the will?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Do you know roughly when the staple marks appeared on the will?</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Are you submitting the will with all its pages bound together?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Are you submitting the will with all its pages bound together?</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Has the will ever been bound together?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Has the will ever been bound together?</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do you have the current contact details of any of the witnesses named on the will?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Do you have the current contact details of any of the witnesses named on the will?</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Tell us about witnesses named in the will
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  <strong>Witness 1</strong> <br>
                  Mary Johnson <br>
                  0783652345618 <br>
                  mary@anyemail.com <br>
                  12 Cucumber line  <br>
                  Newport <br>
                  NP83FG <br>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Tell us about witnesses named in the will</span>
                  </a>
                </dd>
              </div>

            </dl>
          </div>
        </div>

        <form action="application_27.html" style="padding-top:10px;">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            &nbsp;&nbsp;
            <a class="govuk-link" href="javascript:history.back()" style="color: #1d70b8">Save and return to application overview</a>
          </div>
        </form>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
