
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  {% include "../../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" style="padding-bottom: 5px;">Check the will</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 40px;">Does the will have any damage?</h1>

        <div class="govuk-inset-text">
          We’ll check the will for any marks or damage as part of your application. Your application may be delayed by up to 4 weeks if you do not tell us about any marks or damage now.
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <div id="contact-hint" class="govuk-hint">
              Select all options that are relevant to you.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-checkboxes__label" for="contact">
                  Holes from staples being removed
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                <br>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Explain why the will has staple marks (optional)
                  </label>
                  <!--<input class="govuk-input govuk-!-width-one-half" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email">-->
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint" style="width: 600px;"></textarea>
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Enter the full name of who’s responsible for the staple marks (optional)
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Enter when roughly the staple marks appeared on the will (optional)
                  </label>
                  <div id="passport-issued-hint" class="govuk-hint">
                    For example, 27 3 2007 or 3 2007 if don;t know the date.
                  </div>
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                  Punch holes
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-phone">
                    Lorum
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
                </div>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
                <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                  Rust marks
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-text">
                    Lorum
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel">
                </div>
              </div>

              <p style="margin-bottom:10px;">or</p>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-4" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-4">
                <label class="govuk-label govuk-checkboxes__label" for="contact-4">
                  No, none of the above. I confirm the will has no damage
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <br>

        <form action="#0">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="govuk-link" href="#0" style="color: #1d70b8">Save and return to application overview</a>
          </div>
        </form>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
