<!DOCTYPE html>
<html lang="en" class="govuk-template ">

{% include "../../../includes/IHT-transformation_header.html" %}

    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>


            <main class="govuk-main-wrapper " id="main-content" role="main"> 
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">  

                        <!-- Content -->

                        <h1 class="govuk-heading-xl">Time to pause</h1>

                        <p class="govuk-body-l">
                          The researcher will explain what happens next.
                        </p>

                        <br>
        
                        <p class="govuk-body"><a href="11-assets.html" class="govuk-link govuk-link--no-visited-state">Continue</a></p>
        
                        <!-- End content -->

                    </div>
                </div>
            </main>

        </div>
        
        {% include "../../../includes/as_it_is_footer.html" %}

    </body>

</html>
