<!DOCTYPE html>
<html lang="en" class="govuk-template ">

{% include "../../../includes/header-with_nav.html" %}

<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main"> 
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">  

        <h1 class="govuk-heading-l">
          What was the permanent address at the time of their death?
        </h1>

        <form action="7a-address_select" method="post">

          <div>
            <label class="govuk-label" for="address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-!-width-one-quarter" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code" value="{{ data['address-postcode'] }}">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Find UK address
            </button>
          </div>
              
            <details class="govuk-details" id="details-panel" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">Enter their address instead</span>
                </summary>
                <div class="govuk-details__text">
                                        
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="addressLine1">
                          Address
                        </label>
                        <input class="govuk-input govuk-!-width-three-quarters" id="addressLine1" name="addressLine1" type="text" value="" autocomplete="off" maxlength="150">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="addressLine2">
                          Address Line 2 (optional)
                        </label>
                        <input class="govuk-input govuk-!-width-three-quarters" id="addressLine2" name="addressLine2" type="text" value="" autocomplete="off" maxlength="50">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="addressLine3">
                          Address Line 3 (optional)
                        </label>
                        <input class="govuk-input govuk-!-width-three-quarters" id="addressLine3" name="addressLine3" type="text" value="" autocomplete="off" maxlength="50">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="postTown">
                          Town or city
                        </label>
                        <input class="govuk-input govuk-!-width-three-quarters" id="postTown" name="postTown" type="text" value="" autocomplete="off" maxlength="50">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newPostCode">
                          Postcode
                        </label>
                        <input class="govuk-input govuk-!-width-one-quarter" id="newPostCode" name="newPostCode" type="text" value="" autocomplete="off" maxlength="14">
                    </div>                      

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="country">
                          Country (optional)
                        </label>
                        <input class="govuk-input govuk-!-width-three-quarters" id="country" name="country" type="text" value="" autocomplete="off" maxlength="50">
                    </div>
              </div>

          </details>

        </form>

      </div>
    </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      text: "Save and continue"
      }) }}

  <p class="govuk-body"><a href="/probate/service-improvements/saved_apps-in_progress.html" class="govuk-link govuk-link--no-visited-state">Save and close</a></p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

</main>

</div>

{% include "../../../includes/as_it_is_footer.html" %}


</body>

</html>

