<!DOCTYPE html>
<html lang="en" class="govuk-template ">

{% include "../../../includes/header-with_nav.html" %}

<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main"> 
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"> 

    <h1 class="govuk-heading-l">Enter your postal address</h1>

    <form action="8-jurisdiction.html" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"> Postcode
          </legend>
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="change-postcode">{{ data['address-postcode-v2'] }}</label>
              <p class="postcode_change"><a class="govuk-link" href="7-address.html" aria-label="change postcode">Change</a></p>
            </div>

          <div class="govuk-form-group">
              <label class="govuk-label" for="address-select">
              Select an address
              </label>
              <select class="govuk-select govuk-!-width-three-quarters" id="address-select" name="address-select">
                <option>5 addresses found</option>
                <option>1 Main Street, London, {{ data['address-postcode-v2'] }} </option>
                <option>2 Main Street, London, {{ data['address-postcode-v2'] }} </option>
                <option>3 Main Street, London, {{ data['address-postcode-v2'] }} </option>
                <option>4 Main Street, London, {{ data['address-postcode-v2'] }} </option>
                <option>5 Main Street, London, {{ data['address-postcode-v2'] }} </option>
              </select>
          </div>

          <div class="govuk-form-group">
            <p>
              <a class="govuk-link" href="#">I cannot find the address in the list</a>
            </p>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button">
        Save and continue
      </button>

    </form>
  </div>
</div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

</main>

</div>

{% include "../../../includes/as_it_is_footer.html" %}


</body>

</html>
