
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

    {% include "../../../includes/header-with_nav.html" %}

    <main class="govuk-main-wrapper " id="main-content" role="main"> 
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">  

                <!-- Content -->
                        
                <div id="check-your-answers">
                    <h1 class="govuk-heading-l">Check your answers</h1>
                    
                    <p class="govuk-body" id="main-heading-content">
                        Check the information below carefully. This will form a record of your application for probate. It will also be stored as a public record, and will be able to be viewed online.
                    </p>

                    <h2 class="govuk-heading-m">About the person who died</h2>
            
                    <dl class="govuk-summary-list">
                
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="padding-right: 190px;">
                                Do you require a bilingual grant in English and Welsh?
                            </dt>
                            <dd class="govuk-summary-list__value">No</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="2-billingual_grant.html">Change</a></dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="padding-right: 190px;">
                                What is the full name of the person who died?
                            </dt>
                            <dd class="govuk-summary-list__value">[dynamic]</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="3-full_name.html">Change</a></dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="padding-right: 190px;">
                                Is [dynamic] exactly how the name is written on the will (or any codicils)?
                            </dt>
                            <dd class="govuk-summary-list__value">[dynamic]</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="4-will_name.html">Change</a></dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="padding-right: 190px;">
                                How is the name written on the will or any codicils?
                            </dt>
                            <dd class="govuk-summary-list__value">[dynamic]</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="4a-will_name_different.html">Change</a></dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="padding-right: 190px;">
                                What was their date of birth?
                            </dt>
                            <dd class="govuk-summary-list__value">[dynamic]</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="5-DOB.html">Change</a></dd>
                        </div>
            
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="padding-right: 190px;">
                                What was the date that they died?
                            </dt>
                            <dd class="govuk-summary-list__value">[dynamic]</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="6-DOD.html">Change</a></dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="padding-right: 190px;">
                                What was the permanent address at the time of their death?
                            </dt>
                            <dd class="govuk-summary-list__value">[dynamic]</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="7-address.html">Change</a></dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="padding-right: 190px;">
                                Did [dynamic] die in England or Wales?
                            </dt>
                            <dd class="govuk-summary-list__value">Yes</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="8-jurisdiction.html">Change</a></dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="padding-right: 190px;">
                                Do you have a death certificate or an interim death certificate?
                            </dt>
                            <dd class="govuk-summary-list__value">[dynamic]</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="9-certificate_type.html">Change</a></dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="padding-right: 190px;">
                                Did [dynamic] have assets in another name?
                            </dt>
                            <dd class="govuk-summary-list__value">[dynamic]</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="11-other_name.html">Change</a></dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="padding-right: 190px;">
                                What other names did [dynamic] use?
                            </dt>
                            <dd class="govuk-summary-list__value">[dynamic]</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="11a-other_name-needed.html">Change</a></dd>
                        </div>
        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="padding-right: 190px;">
                                Did [dynamic] get married or enter into a civil partnership after the will was signed?                            </h1>
                            </dt>
                            <dd class="govuk-summary-list__value">No</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="12-married_after_will.html">Change</a></dd>
                        </div>

                    </dl>

                </div>
                
                <br>
                
                {% from "govuk/components/button/macro.njk" import govukButton %}

                {{ govukButton({
                  text: "Save and continue",
                  href:"/probate/service-improvements/3-applicant_details/1-task_list-continue.html"
                }) }}

                <!-- End content -->

                <br><br>

                <details class="govuk-details" data-module="govuk-details" id="contact-us-for-help">

                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Contact us for help
                      </span>
                    </summary>

                    <div class="govuk-details__text">
                        <p class="govuk-heading-s" id="avaya-web-chat-header"> Webchat </p>
                        <div id="avaya-webchat-open" class="govuk-body" hidden="">
                            <a href="#" class="govuk-link" rel="noreferrer noopener" id="avaya-webchat-link">Speak to an advisor online (opens in a new window)</a>
                        </div>

                        <p class="govuk-body" id="avaya-webchat-close" hidden=""> We are sorry, the Contact Centre is now closed. </p>
                        <p class="govuk-body" id="webchat-agent-busy"> All our advisors are busy. Try again in a few minutes. </p>
                        <p class="govuk-body" id="webchat-maintenance" hidden=""> Sorry, we’re having technical difficulties. Try email or telephone instead. </p>

                        <p class="govuk-heading-s govuk-!-padding-top-2"> Telephone</p>
                        <p class="govuk-body"> 0300 303 0648</p>
                        <p class="govuk-heading-s"> Email </p>
                        <p class="govuk-body"> Email us at <a href="mailto:contactprobate@justice.gov.uk" class="govuk-link" tabindex="-1">contactprobate@justice.gov.uk</a>. </p>
                        <p class="govuk-heading-s"> Opening times (webchat and telephone) </p>
                        <p class="govuk-body"> Monday to Friday, 8am to 6pm </p>
                        <p class="govuk-body"> Closed on Saturdays, Sundays and bank holidays </p>
                    </div>

                </details>

            </div>
        </div>
    </main>

</div>

{% include "../../../includes/as_it_is_footer.html" %}

</body>

</html>