
{% block header %}
  {% include "includes/query_new_header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        
                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                                <div>

                                    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;padding-top: 10px;">Attach documents to your response (optional)</h1>

                                    <h3 class="govuk-heading-m" style="margin-top: 40px;margin-bottom: 20px;">Select a file</h3>

                                    <!--
                                    <div class="govuk-form-group">
                                      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                                    </div>
                                    -->

                                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" onClick="location.href='page_24.html'" style="text-decoration: none;">
                                      Choose file
                                    </button>

                                    <h3 class="govuk-heading-m" style="margin-top: 20px;margin-bottom: 0px;">Attached files</h3>

                                    <table class="govuk-table">
                                      <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                          <th scope="col" class="govuk-table__header"></th>
                                          <th scope="col" class="govuk-table__header"></th>
                                        </tr>
                                      </thead>
                                      <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                          <td scope="row" class="govuk-table__cell">court_regulations.pdf</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="page_22.html" style="color: #1d70b8">Remove</a></td>
                                        </tr>
                                      </tbody>
                                    </table>

                                    <form action="page_15.html" style="padding-top: 20px;">
                                      <div class="govuk-button-group">
                                        <button class="govuk-button" data-module="govuk-button">
                                          Send respond
                                        </button>
                                        <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel and return to case</a>
                                      </div>
                                    </form>

                                    <p style="padding: 0 0 2em 0;"></p>

                                </div>

                            </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


{% block footer %}
  {% include "includes/query_new_footer.html" %}
{% endblock %}
        