
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../includes/new_phase.html" %}
  {% include "../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Apply for probate</h1>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>

        <p class="govuk-body" style="margin-bottom: 10px;">You have completed 1 of 10 sections.</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" colspan="2"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">1. Details about the applicant</a></th>
              <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">2. Details about the person who died</a></th>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">3. Details about the will</a></th>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">4. Details about the codicils</a></th>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">5. Details about the Inheritance tax</a></th>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">6. Details about the Executors</a></th>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">7. Copies of the grant of probate</a></th>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">8. Supporting documents</a></th>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">9. Supporting documents</a></th>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">10. Payment</a></th>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong></td>
            </tr>
          </tbody>
        </table>

        <!--

        <ol class="app-task-list">

          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span> Check eligibility
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="#0" aria-describedby="eligibility-status" style="text-decoration: none;color:#1d70b8;">
                    Check eligibility
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              </li>
            </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Application details
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;">
                    Details about the applicant
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;">
                    Details about the person who died
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    Details about the will
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  Details about the codicils
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  Details about the Inheritance tax
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  Details about the Executors
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  Copies of the grant of probate
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  Supporting documents
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
              </li>
            </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">3. </span> Payment
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  Pay application
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
              </li>
            </ul>
          </li>

        </ol>

        -->

        <br>

        <h2 class="govuk-heading-m">Send your application</h2>

        <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="padding-bottom: 50px;">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              I confirm that...
            </label>
          </div>
        </div>

        <br>

        <form action="application_3.html">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" disabled="disabled">
              Send application
            </button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel application</a>
          </div>
        </form>



        <!--

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Apply for probate</h1>

        <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">

          <div class="app-step-nav__controls">
            <button aria-expanded="false" class="app-step-nav__button app-step-nav__button--controls js-step-controls-button" aria-controls="step-panel-check-youre-allowed-to-drive-1">Show all
            </button>
          </div>

          <ol class="app-step-nav__steps">

            <li class="app-step-nav__step js-step" id="option-1">
              <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden">Step</span> 1
                      </span>
                    </span>
                  </span>
                  <span class="js-step-title">
                    <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-option-1">
                      <span class="js-step-title-text">
                        Application details
                      </span>
                      <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span>
                    </button>
                  </span>
                </h2>
              </div>
              <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-option-1">
                <p class="app-step-nav__paragraph">This section is about the details of the probate application.</p>
                <ol class="app-step-nav__list " data-length="6">
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header" width="400">Section</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;">About the applicant</a></td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">completed</strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;">About the person who died</a></td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">completed</strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;">About the will</a></td>
                      <td class="govuk-table__cell"><strong class="govuk-tag">In progress</strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;">About the codicils</a></td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Pending</strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;">About the Inheritance tax</a></td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Pending</strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;">About the Executors</a></td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Pending</strong></td>
                    </tr>
                  </tbody>
                </table>
                </ol>

              </div>
            </li>

            <li class="app-step-nav__step js-step" id="option-2">
              <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden">Step</span> 2
                      </span>
                    </span>
                  </span>
                  <span class="js-step-title">
                    <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-option-2">
                      <span class="js-step-title-text">
                        Legal declaration 
                      </span>
                      <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span>
                    </button>
                  </span>
                </h2>
              </div>
              <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-option-2">
                <p class="app-step-nav__paragraph">This section is about the legal declaration.</p>
                <ol class="app-step-nav__list " data-length="3">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.1" class="app-step-nav__link js-link" href="#">Part 1 </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.2" class="app-step-nav__link js-link" href="#">Part 2 </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.3" class="app-step-nav__link js-link" href="#">Part 3 </a>
                  </li>
                </ol>
              </div>
            </li>

            <li class="app-step-nav__step js-step" id="option-3">
              <div class="app-step-nav__header js-toggle-panel" data-position="3">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden">Step</span> 3
                      </span>
                    </span>
                  </span>
                  <span class="js-step-title">
                    <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-option-3">
                      <span class="js-step-title-text">
                        Copies of the grant of probate
                      </span>
                      <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span>
                    </button>
                  </span>
                </h2>
              </div>
              <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-option-3">
                <p class="app-step-nav__paragraph">This section is about ordering extra copies of the grant probate.</p>
                <ol class="app-step-nav__list " data-length="3">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.1" class="app-step-nav__link js-link" href="#">Part 1 </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.2" class="app-step-nav__link js-link" href="#">Part 2 </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.3" class="app-step-nav__link js-link" href="#">Part 3 </a>
                  </li>
                </ol>
              </div>
            </li>

            <li class="app-step-nav__step js-step" id="option-4">
              <div class="app-step-nav__header js-toggle-panel" data-position="4">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden">Step</span> 4
                      </span>
                    </span>
                  </span>
                  <span class="js-step-title">
                    <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-option-4">
                      <span class="js-step-title-text">
                        Pay and submit your probate application
                      </span>
                      <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span>
                    </button>
                  </span>
                </h2>
              </div>
              <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-option-4">
                <p class="app-step-nav__paragraph">This section is about pay and submit your probate application.</p>
                <ol class="app-step-nav__list " data-length="3">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.1" class="app-step-nav__link js-link" href="#">Text 1 </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.2" class="app-step-nav__link js-link" href="#">Text 2 </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.3" class="app-step-nav__link js-link" href="#">Text 3 </a>
                  </li>
                </ol>
              </div>
            </li>

            <li class="app-step-nav__step js-step" id="option-5">
              <div class="app-step-nav__header js-toggle-panel" data-position="5">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden">Step</span> 5
                      </span>
                    </span>
                  </span>
                  <span class="js-step-title">
                    <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-option-5">
                      <span class="js-step-title-text">
                        Supporting documents
                      </span>
                      <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span>
                    </button>
                  </span>
                </h2>
              </div>
              <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-option-5">
                <p class="app-step-nav__paragraph">This section is about sending document to support your probate application.</p>
                <ol class="app-step-nav__list " data-length="3">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.1" class="app-step-nav__link js-link" href="#">Text 1 </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.2" class="app-step-nav__link js-link" href="#">Text 2 </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.3" class="app-step-nav__link js-link" href="#">Text 3 </a>
                  </li>
                </ol>
              </div>
            </li>

          </ol>
        </div>

        <script src="/public/javascripts/jquery-1.11.3.js"></script>
        <script src="/extension-assets/govuk-frontend/govuk/all.js"></script>
        <script src="/public/javascripts/docs.js"></script>
        <script src="/public/javascripts/auto-store-data.js"></script>
        <script src="/public/javascripts/step-by-step-nav.js"></script>
        <script type="text/javascript">
          var $element = $('#step-by-step-navigation')
          var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
          stepByStepNavigation.start($element)
        </script>

        -->

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
