
{% extends "layout_divorce.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../includes/new_phase.html" %}
  {% include "../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l" style="margin-bottom: 40px;">You need to get ‘proof of service’ </h1>

        <p class="govuk-body">The court needs to see proof that your husband or wife has been ‘served’ (sent) the divorce papers. The evidence should show they received all the documents by post or email. </p>

        <h3 class="govuk-heading-m">How to get proof of service </h3>

        <p class="govuk-body">You can use a ‘process server’ to serve the divorce papers. A process server is a privately-hired professional who can serve the documents for you. They will give you a ‘certificate of service’. This is a good piece of evidence that your husband or wife has been served. You will be able to provide it to the court online and it will allow your divorce to continue without a response. </p>

        <p class="govuk-body">You can find a process server by searching online. You will need to provide them with a ‘service pack’. This is the collection of papers (documents) to serve on your husband or wife. You can <a href="page_32.html">request a service pack from the court here</a>.  </p>

        <p class="govuk-body">You do not have to use a process server to serve the documents. You can use other evidence to prove that your husband or wife has been served. For example, a proof of delivery or message from them confirming they received the papers. The evidence must show they have received all the divorce papers by post or email. The court will review the evidence you provide and decide whether it’s good enough to prove they have been served. </p>

        <p class="govuk-body">If you want to use other evidence to prove service then you can use it to <a href="page_7.html">apply for deemed service.</a> </p>

        <h3 class="govuk-heading-m">If you cannot get any proof of service </h3>

        <p class="govuk-body">If you cannot get proof they were served by post or email, then you could apply to have the application ‘served’ (sent) to them another way. For example by text message or social media. The court will review the information you provide and decide whether to allow you to serve another way. <a href="../alternative_service_2/alternative_1.html">Apply to serve them another way</a>. </p>

        <br>

        <p class="govuk-body"><a href="#0" class="govuk-link">Save and sign out</a></p>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
