
{% extends "layout_divorce.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../includes/new_phase.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Joe Bloggs &amp; Joanne Bloggs</h1>
      </div>

      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">Reference Number: EZ111456</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="height:1px;color:#1d70b8;background-color:#1d70b8;" "="">

        <div class="govuk-!-padding-bottom-8"></div>

        <div class="hmcts-progress-bar">
          <ol class="hmcts-progress-bar__list">
            <li class="hmcts-progress-bar__list-item">
              <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
              <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Submitted</span>
            </li>

            <li class="hmcts-progress-bar__list-item" aria-current="step">
              <span class="hmcts-progress-bar__icon"></span>
              <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Response</span>
            </li>

            <li class="hmcts-progress-bar__list-item">
              <span class="hmcts-progress-bar__icon"></span>
              <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Conditional order</span>
            </li>

            <li class="hmcts-progress-bar__list-item">
              <span class="hmcts-progress-bar__icon"></span>
              <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Final order (Divorced)</span>
            </li>
          </ol>
        </div>

        <h2 class="govuk-heading-m">Latest update</h2>

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #F2F8F5; text-align: left;">

          <p>You have updated your husband or wife’s postal address.  </p>

          <p><strong>What happens next</strong></p> 

          <p>The court will now serve (send) the application to your husband or wife at their updated postal address.</p>

          <p>Your husband or wife should respond. You will be notified by email when they have responded.</p>

          <script>

            var targetDate = new Date();
            targetDate.setDate(targetDate.getDate() - 1);

            var dd = targetDate.getDate();
            var mm = targetDate.getMonth(); // 0 is January, so we must add 1
            var yyyy = targetDate.getFullYear();

            const months = ["January", "February", "March","April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var dateString = dd + " " + months[mm]  + " " + yyyy;
            document.getElementById('date-time').innerHTML=dateString;

          </script>

          <!--

          <h3 class="govuk-heading-s">Helpful Information</h3>

          <p><a href="hub_2">Find out about dividing money and property </a></p>

          -->
        
        </div>

        <br>

      </div>

      <div class="govuk-grid-column-one-third">

        <div class="govuk-!-padding-bottom-5"></div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="height:5px;color:#1d70b8;background-color:#1d70b8;">

        <h2 class="govuk-heading-s">I want to...</h2>

        <p><a href="">View the divorce application (PDF)</a></p>

        <p><a href="check_contact_details">Review your contact details</a></p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-s">Contact us for help</h2>

        <p class="govuk-body">Ask a question or get help in your language.</p>

        <p class="govuk-body">Telephone<br>0300 123 1711</p>

        <p class="govuk-body">Monday to Friday, 8:30am to 5pm<br><a href="#0" class="govuk-link">Find out about call charges </a> <br>(opens in a new window)</p>

        <p class="govuk-body">Email<br><a href="#0" class="govuk-link">contactia@justice.gov.uk</a></p>

        <p class="govuk-body">We aim to get back to you within 5 days.</p>

      </div>

    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
