
{% extends "layout_divorce.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../includes/new_phase.html" %}
  {% include "../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l" style="margin-bottom: 40px;">Do you have a new Help With Fees reference number?  </h1>

        <div class="govuk-inset-text">
          You need a new Help With Fees reference number to pay for each application. You cannot use the same Help With Fees reference number that you have used before.
        </div>

        <br>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="option1" name="option" type="radio" value="yes" data-aria-controls="conditional-yes">
                <label class="govuk-label govuk-radios__label" for="yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="option2" name="option" type="radio" value="no" data-aria-controls="conditional-no">
                <label class="govuk-label govuk-radios__label" for="no">
                   No, I need to apply for a new Help With Fees number
                </label>
              </div>
          </fieldset>
        </div>

        <br>

        <div class="govuk-button-group">
          <a href="" onclick='myFunction()' id="link" style="text-decoration: none;"><button class="govuk-button" data-module="govuk-button" style="display:flex;vertical-align:middle;">Continue</button></a>
          <!--
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel</a>
            -->
          </div>
        </form>

        <p class="govuk-body"><a href="#" class="govuk-link">Save and sign out</a></p>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->


<script>
    function myFunction() {
   
        if(document.getElementById('option1').checked) {
            document.getElementById('link').href = "page_28.html";
        }
        if(document.getElementById('option2').checked) {
            document.getElementById('link').href = "page_27.html";
        }
    }
</script>


{% endblock %}
