
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

    {% include "../../../includes/as_it_is_header.html" %}

    <main class="govuk-main-wrapper " id="main-content" role="main"> 
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">  

                <!-- Content -->
                        
                <div class="govuk-form-group" style="margin-bottom:0px;">

                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                          Application complete
                        </h1>
                        <div class="govuk-panel__body">
                          Your reference number is<br><strong>1667-4002-6989-2539</strong>
                        </div>
                        <br>
                    </div>

                    <h2 class="govuk-heading-m">What happens next</h2>

                    <p class="govuk-body">We will contact you when we have received your documents. We will then review your application and issue your grant of probate within 8 weeks.</p>

                    <p class="govuk-body">You do not need to do anything until then.</p>

                    <p class="govuk-body">We'll email you if we need any more information. You can also call the Probate Registry on 03003030648 if you have any questions.</p>

                    <h2 class="govuk-heading-m">Save your application</h2>

                    <p class="govuk-body">You can save or print there documents for your reference.</p>

                    <p class="govuk-body"><a href="#0" class="govuk-link">Check your answers (10kb PDF)</a></p>

                    <p class="govuk-body"><a href="#0" class="govuk-link">Legal declaration (30kb PDF)</a></p>

                    <p class="govuk-body"><a href="#0" class="govuk-link">Application coversheet (20kb PDF)</a></p>

                    <div class="govuk-inset-text">
                      Find out what to do <a href="#0" target="_blank">when you receive your grant of probate (opens in a new window)</a>.
                    </div>

                    <a href="#" class="govuk-link govuk-link--no-visited-state">This is a new service - your feedback will help us to improve it (opens in a new window).</a>



                <!-- End content -->

                <!--

                <br><br>

                <details class="govuk-details" data-module="govuk-details" id="contact-us-for-help">

                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Contact us for help
                      </span>
                    </summary>

                    <div class="govuk-details__text">
                        <p class="govuk-heading-s" id="avaya-web-chat-header"> Webchat </p>
                        <div id="avaya-webchat-open" class="govuk-body" hidden="">
                            <a href="#" class="govuk-link" rel="noreferrer noopener" id="avaya-webchat-link">Speak to an advisor online (opens in a new window)</a>
                        </div>

                        <p class="govuk-body" id="avaya-webchat-close" hidden=""> We are sorry, the Contact Centre is now closed. </p>
                        <p class="govuk-body" id="webchat-agent-busy"> All our advisors are busy. Try again in a few minutes. </p>
                        <p class="govuk-body" id="webchat-maintenance" hidden=""> Sorry, we’re having technical difficulties. Try email or telephone instead. </p>

                        <p class="govuk-heading-s govuk-!-padding-top-2"> Telephone</p>
                        <p class="govuk-body"> 0300 303 0648</p>
                        <p class="govuk-heading-s"> Email </p>
                        <p class="govuk-body"> Email us at <a href="mailto:contactprobate@justice.gov.uk" class="govuk-link" tabindex="-1">contactprobate@justice.gov.uk</a>. </p>
                        <p class="govuk-heading-s"> Opening times (webchat and telephone) </p>
                        <p class="govuk-body"> Monday to Friday, 8am to 6pm </p>
                        <p class="govuk-body"> Closed on Saturdays, Sundays and bank holidays </p>
                    </div>

                </details>

                -->

            </div>
        </div>
    </main>

    </div>

    {% include "../../../includes/as_it_is_footer.html" %}

    {% include "../../../includes/as_it_is_scripts.html" %}

    <script>
        function myFunction() {
            if(document.getElementById('assetsoverseas').checked) {
                document.getElementById('link').href = "page_54.html";
            }
            if(document.getElementById('assetsoverseas-2').checked) {
                document.getElementById('link').href = "page_54.html";
            }
        }
    </script>

</body>

</html>