
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

    {% include "../../../includes/as_it_is_header.html" %}

    <main class="govuk-main-wrapper " id="main-content" role="main"> 
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">  

                <!-- Content -->
                        
                <div class="govuk-form-group">

                <div class="govuk-grid-column-two-thirds" data-gtm-vis-recent-on-screen-30951291_56="108" data-gtm-vis-first-on-screen-30951291_56="108" data-gtm-vis-total-visible-time-30951291_56="100" data-gtm-vis-has-fired-30951291_56="1">

                    <h1 class="govuk-heading-l" data-gtm-vis-recent-on-screen-30951291_54="107" data-gtm-vis-first-on-screen-30951291_54="107" data-gtm-vis-total-visible-time-30951291_54="100" data-gtm-vis-has-fired-30951291_54="1">Apply for probate</h1>

                    <p class="govuk-body">Complete these steps to get the legal right to deal with the property and belongings of someone who has died.</p>

                    <p class="govuk-body">You can save your application and return to it later if you need to.</p>

                    <p class="govuk-body">At the end of each section you will be required to check your answers. If any are incorrect you will have the opportunity to change them before proceeding to the next section. Once you have made your legal declaration at section 3 any amendments will have to be made in writing to the Registry.</p>
                    
                    <ol class="govuk-list task-list">
                        
                        <li class="task-item">
                            <h2 class="task-list-section">
                                <span class="task-list-section-number">1.</span> Tell us about the person who has died
                            </h2>
                            <span class="govuk-tag task-completed">Completed</span>
                            <div class="task-list-items">
                                <!-- Check your answers -->
                                <p class="govuk-body"><a href="page_30a.html" class="govuk-link">Check and change your answers <span class="govuk-visually-hidden">Tell us about the person who has died</span></a></p>

                            </div>
                        </li>

                        <li class="task-item">
                            <h2 class="task-list-section">
                                <span class="task-list-section-number">2.</span> Give details about the executors
                            </h2>
                            <span class="govuk-tag task-completed">Completed</span>
                            <div class="task-list-items">
                                <!-- Check your answers -->
                                <p class="govuk-body"><a href="page_53.html" class="govuk-link">Check and change your answers <span class="govuk-visually-hidden">Give details about the executors</span></a></p>

                            </div>
                        </li>

                        <li class="task-item">
    
    <h2 class="task-list-section">
        <span class="task-list-section-number">3.</span> Check your answers and make your legal declaration
    </h2>
    

    <div class="task-list-items">
        
    
        
            <!-- Check your answers -->
            
                <p class="govuk-body"><a href="/summary/*" class="govuk-link">Check and change your answers <span class="govuk-visually-hidden">Check your answers and make your legal declaration</span></a></p>
            
        
    

        
            
                
                
                    
                

                <p class="govuk-body">You can continue with your application when all the executors have made their legal declaration. They have received an email which tells them what they need to do.</p>
                <p class="govuk-body">If you change your answers, the executors will see the updated declaration using the same link in the email they received.</p>

                

                
                    
                        
                    
                

                <table class="govuk-table">
  
  <caption class="govuk-table__caption govuk-visually-hidden">Executors to declare</caption>
  
  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
    
      <th scope="col" class="govuk-table__header">Executor name</th>
    
      <th scope="col" class="govuk-table__header">Declaration Status</th>
    
    </tr>
  </thead>
  
  <tbody class="govuk-table__body">
    
      
        <tr class="govuk-table__row">
        
          
          
          <td class="govuk-table__cell">Maria Calas</td>
          
        
          
          
          <td class="govuk-table__cell">Not declared</td>
          
        
        </tr>
      
    
  </tbody>
</table>

            
        
    </div>
</li>








                        <li class="task-item">
                            <h2 class="task-list-section">
                                <span class="task-list-section-number">4.</span> Order extra copies of the grant of probate
                            </h2>
                            <span class="govuk-tag task-unavailable" style="background-color: #b1b4b6; color: #0b0c0c;">Can’t start yet</span>
                            <div class="task-list-items">
                            </div>
                        </li>

                        <li class="task-item">
                            <h2 class="task-list-section">
                                <span class="task-list-section-number">5.</span> Pay and submit your application
                            </h2>
                            <span class="govuk-tag task-unavailable" style="background-color: #b1b4b6; color: #0b0c0c;">Can’t start yet</span>
                            <div class="task-list-items">
                            </div>
                        </li>

                        <li class="task-item">
                            <h2 class="task-list-section">
                                <span class="task-list-section-number">6.</span> Send documents
                            </h2>
                            <span class="govuk-tag task-unavailable" style="background-color: #b1b4b6; color: #0b0c0c;">Can’t start yet</span>
                            <div class="task-list-items">
                            </div>
                        </li>

                    </ol>

                    <details class="govuk-details" data-module="govuk-details" id="contact-us-for-help">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Contact us for help
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-heading-s" id="avaya-web-chat-header"> Webchat </p>
                            <div id="avaya-webchat-open" class="govuk-body" hidden="">
                                <a href="#" class="govuk-link" rel="noreferrer noopener" id="avaya-webchat-link">Speak to an advisor online (opens in a new window)</a>
                            </div>
                            <p class="govuk-body" id="avaya-webchat-close" hidden=""> We are sorry, the Contact Centre is now closed. </p>
                            <p class="govuk-body" id="webchat-agent-busy" hidden=""> All our advisors are busy. Try again in a few minutes. </p>
                            <p class="govuk-body" id="webchat-maintenance"> Sorry, we’re having technical difficulties. Try email or telephone instead. </p>
                            <web-chat id="avayaWebchatMetric" class="hidden" chat-title="Ask Probate" locale-url="public/locales/avaya-webchat" url="webchat.training.ctsc.hmcts.net" secure-connections="true" api-version="1.0" metrics-polling-interval="30" language="English" service="Testing" page-name="Apply for Probate" user="Chat" aria-hidden="true" hidden="">
                            </web-chat>
                            <p class="govuk-heading-s govuk-!-padding-top-2"> Telephone</p>
                            <p class="govuk-body"> 0300 303 0648</p>
                            <p class="govuk-heading-s"> Email </p>
                            <p class="govuk-body"> Email us at <a href="mailto:contactprobate@justice.gov.uk" class="govuk-link" tabindex="-1">contactprobate@justice.gov.uk</a>. </p>
                            <p class="govuk-heading-s"> Opening times (webchat and telephone) </p>
                            <p class="govuk-body"> Monday to Friday, 8am to 6pm </p>
                            <p class="govuk-body"> Closed on Saturdays, Sundays and bank holidays </p>
                        </div>

                    </details>

                </div>

            </div>
        </div>
    </main>

    </div>

    {% include "../../../includes/as_it_is_footer.html" %}

    {% include "../../../includes/as_it_is_scripts.html" %}

    <script>
        function myFunction() {
            if(document.getElementById('option1').checked) {
                document.getElementById('link').href = "page_52.html";
            }
            if(document.getElementById('option2').checked) {
                document.getElementById('link').href = "page_52.html";
            }
        }
    </script>

</body>

</html>