
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

    {% include "../../../includes/as_it_is_header.html" %}

    <main class="govuk-main-wrapper " id="main-content" role="main"> 

        <!-- End main column -->

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">  

                <!-- Content -->
                        
                <form class="form" id="main-form" method="post" autocomplete="off" action="page_63" novalidate="">
                <input type="hidden" name="_csrf" value="3yZhjVNw-WW3v06psWYgVklskCdq_YoDffYU">
                
    <h1 class="govuk-heading-l">Confirm your payment</h1>

    <table class="govuk-table">
  
  <caption class="govuk-table__caption govuk-visually-hidden">Payment</caption>
  
  
  <tbody class="govuk-table__body">
    
      
        <tr class="govuk-table__row">
        
          
          
          <th scope="row" class="govuk-table__header">Card number</th>
          
        
          
          
          <td class="govuk-table__cell">************1111</td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <th scope="row" class="govuk-table__header">Expiry date</th>
          
        
          
          
          <td class="govuk-table__cell">09/27</td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <th scope="row" class="govuk-table__header">Name on card</th>
          
        
          
          
          <td class="govuk-table__cell">Mr Lucky</td>
          
        
        </tr>
      
    
      
        <tr class="govuk-table__row">
        
          
          
          <th scope="row" class="govuk-table__header">Billing address</th>
          
        
          
          
          <td class="govuk-table__cell">27 Hign Street, The Park, Cheltenham, Gloucestershire, GL12AB, United Kingdom</td>
          
        
        </tr>


        <tr class="govuk-table__row">
        
          
          
          <th scope="row" class="govuk-table__header">Confirmation email</th>
          
        
          
          
          <td class="govuk-table__cell">lucky.johnson@email.com</td>
          
        
        </tr>
      
    
  </tbody>
</table>


    <div class="govuk-form-group">
        

  
    
  

<button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

<p class="govuk-body"><a href="page_60.html" class="govuk-link">Cancel payment</a></p>

    </div>


    

            </form>





                





            </div>

            <!-- End main column -->

            <!-- Side column -->

                <div class="govuk-grid-column-one-third">

                    <div class="payment-summary-wrap">
                        <div class="payment-summary" style="border-top: 2px solid #1d70b8; padding: 15px;background-color: #f3f2f1;">
                            <h2 class="govuk-heading-m">Payment summary</h2>
                            <p id="payment-description" class="govuk-body">
                            Probate Fees
                            </p>
                            <p class="govuk-body govuk-!-margin-bottom-0">
                            Total amount:
                            <br>
                            <span id="amount" class="amount govuk-!-font-size-36 govuk-!-font-weight-bold" data-amount="159.50">£159.50</span>
                            </p>
                        </div>
                      </div>

                </div>

        </div>
    </main>

    </div>

    {% include "../../../includes/as_it_is_footer.html" %}

    {% include "../../../includes/as_it_is_scripts.html" %}

    <script>
        function myFunction() {
            if(document.getElementById('assetsoverseas').checked) {
                document.getElementById('link').href = "page_57a.html";
            }
            if(document.getElementById('assetsoverseas-2').checked) {
                document.getElementById('link').href = "page_58.html";
            }
        }
    </script>

</body>

</html>