
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  {% include "../../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 40px;">Send us the original will and any other documents we’ve requested</h1>

        <p class="govuk-body">To avoid any delays in reviewing your application, you must send us:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the original will </li>
          <li>any page or document that you’ve removed from the will </li>
          <li>either a completed <a href="#0">application coversheet (20KB PDF)</a> or write your reference number <strong>1618-8333-9985-7405</strong> on a sheet of paper</li>
        </ul>

        <p class="govuk-body">Send these documents, preferably by ‘tracked with signature’, to:</p>

         <p class="govuk-body">
          HMCTS Probate  <br>
          PO Box 12625<br>
          Harlow <br>
          CM209QE
        </p>

        <p class="govuk-body">We’ll email you when we receive your documents. We’ll keep the original will as it becomes a public document by law.</p>

        <h3 class="govuk-heading-m">Helpful Information</h3>

        <p class="govuk-body">If the will was made with a solicitor it may be held at their office. If the firm of solicitors that drew up the will are no longer in existence you’ll need to contact the <a href="https://www.sra.org.uk" target="_blank">Solicitors Regulation Authority (opens in a new tab)</a> to search their records as they may now hold the original will. </p>

        <p class="govuk-body"><a href="https://www.gov.uk/applying-for-probate/if-theres-a-will#find-the-original-will" target="_blank">Find the original will (opens in a new window)</a></p>


      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

<script>
    function myFunction() {
   
        if(document.getElementById('option1').checked) {
            document.getElementById('link').href = "#0";
        }
        if(document.getElementById('option2').checked) {
            document.getElementById('link').href = "#0";
        }
    }
</script>

{% endblock %}
