
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  {% include "../../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" style="padding-bottom: 5px;">The executors</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 40px;">Where you want we send the grant of probate to the executor 2?</h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <!--
            <div id="contact-hint" class="govuk-hint">
              Select one option.
            </div>
            -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="option1" name="option" type="radio" data-aria-controls="conditional-yes">
                <label class="govuk-label govuk-radios__label" for="option1">
                  Same address than previous page
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  8 Orchard, The Park, Manchester, MA12AB
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="option2" name="option" type="radio" data-aria-controls="conditional-no">
                <label class="govuk-label govuk-radios__label" for="option2">
                  To a different address
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <br>

        <div class="govuk-button-group">
          <a href="" onclick='myFunction()' id="link" style="text-decoration: none;"><button class="govuk-button" data-module="govuk-button" style="display:flex;vertical-align:middle;">Save and continue</button></a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="govuk-link" href="#0" style="color: #1d70b8;display:flex;vertical-align:middle;">Save and return to application overview</a>
        </div>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

<script>
    function myFunction() {
   
        if(document.getElementById('option1').checked) {
            document.getElementById('link').href = "application_95.html";
        }
        if(document.getElementById('option2').checked) {
            document.getElementById('link').href = "application_94.html";
        }
    }
</script>

{% endblock %}
