
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  {% include "../../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" style="padding-bottom: 5px;">The executors</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Executor 1 details</h1>

        <!--
        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Executor 1</h2>
        -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <dl class="govuk-summary-list" style="margin-bottom: 40px;">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width: 30%;">
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  First name
                </dt>
                <dd class="govuk-summary-list__value">
                  Mo 
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> First name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Middle name
                </dt>
                <dd class="govuk-summary-list__value">
                   Alex
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> Middle name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Last name
                </dt>
                <dd class="govuk-summary-list__value">
                  Smith
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> Last name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email
                </dt>
                <dd class="govuk-summary-list__value">
                  mo.smith@example.com
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> email</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  72 Guild Street <br>London <br> SE23 6FH
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;">
                    Change<span class="govuk-visually-hidden"> Address</span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <h3 class="govuk-heading-s" style="margin-bottom: 20px;">Is your full name above same name written on the will?</h3>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <!--
            <div id="contact-hint" class="govuk-hint">
              Select one option.
            </div>
            -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="option1" name="option" type="radio" data-aria-controls="conditional-yes">
                <label class="govuk-label govuk-radios__label" for="option1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="option2" name="option" type="radio" data-aria-controls="conditional-no">
                <label class="govuk-label govuk-radios__label" for="option2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <!--

        <h2 class="govuk-heading-m" style="margin-bottom: 15px;">Executor 2</h2>

        <div class="govuk-form-group">
          <div class="govuk-label" style="padding-bottom: 10px;">
            <strong>Full name </strong>
          </div>
          <input class="govuk-input govuk-!-width-three-quarters" id="width-20" name="width-20" type="text">
        </div>

        <div class="govuk-form-group">
          <div class="govuk-label" style="padding-bottom: 10px;">
            <strong>Email </strong>
          </div>
          <input class="govuk-input govuk-!-width-three-quarters" id="width-20" name="width-20" type="text">
        </div>

        <div class="govuk-form-group">
          <div class="govuk-label" style="padding-bottom: 10px;">
            <strong>Address </strong>
          </div>
          <div id="event-name-hint" class="govuk-hint">
            Enter a postcode to find the address or enter the address manually.
          </div>
          <input class="govuk-input govuk-!-width-one-quarter" id="event-name" name="event-name" type="text">
          &nbsp;
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom: 20px;">
            Find UK address
          </button>
          <ul class="govuk-list">
            <li>
              <details class="govuk-details" data-module="govuk-details" style="margin-bottom: 10px;">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Enter UK address manually
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-line-1">
                        Address line 1
                      </label>
                      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-line-2">
                        Address line 2 (optional)
                      </label>
                      <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-line-2">
                        Address line 3 (optional)
                      </label>
                      <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-town">
                        Town or city
                      </label>
                      <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-county">
                        County (optional)
                      </label>
                      <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-postcode">
                        Postcode
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
                    </div>
                  </fieldset>
                </div>
              </details>
            </li>
            <li>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Enter an international address
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-line-1">
                        Address line 1
                      </label>
                      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-line-2">
                        Address line 2 (optional)
                      </label>
                      <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-line-2">
                        Address line 3 (optional)
                      </label>
                      <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-town">
                        Town or city
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-postcode">
                        County, district, estate or area (optional)
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-postcode">
                        Country
                      </label>
                      <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
                    </div>
                  </fieldset>
                </div>
              </details>
            </li>
          </ul>
        </div>

        -->

        <br>

        <div class="govuk-button-group">
          <a href="" onclick='myFunction()' id="link" style="text-decoration: none;"><button class="govuk-button" data-module="govuk-button" style="display:flex;vertical-align:middle;">Save and continue</button></a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="govuk-link" href="#0" style="color: #1d70b8;display:flex;vertical-align:middle;">Save and return to application overview</a>
        </div>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

<script>
    function myFunction() {
   
        if(document.getElementById('option1').checked) {
            document.getElementById('link').href = "application_86.html";
        }
        if(document.getElementById('option2').checked) {
            document.getElementById('link').href = "application_83.html";
        }
    }
</script>


{% endblock %}
