
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  {% include "../../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" style="padding-bottom: 5px;">Check the codicils</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 40px;">Do you have the original legal codicils with you now?</h1>

        <div class="govuk-inset-text">
          We’ll check the codicils for marks and damage when we receive the original as part of your application. Your application may be delayed by up to 4 weeks if you do not tell us about any marks.
        </div>

        <!--
        <div class="govuk-warning-text" style="margin-bottom: 20px;">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            We may stop your application if you do not tell us about any marks or damage to the will.
          </strong>
        </div>
        -->

        <p class="govuk-body">You must check the will now for any marks or damage to any of its pages. We need to know if the codicil appears to have had pages added or removed.</p>
        <span class="govuk-body">Check for: </span>
        <ul class="govuk-list govuk-list--bullet">
          <li>small holes from where staples have been removed</li>
          <li>punch holes that are no longer being used</li>
          <li>water damage</li>
          <li>torn pages</li>
          <li>paper clip marks</li>
          <li>rust from old staples or paper clips</li>
        </ul>

        <br>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <!--
            <div id="contact-hint" class="govuk-hint">
              Select one option.
            </div>
            -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="option1" name="option" type="radio" data-aria-controls="conditional-yes">
                <label class="govuk-label govuk-radios__label" for="option1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="option2" name="option" type="radio" data-aria-controls="conditional-no">
                <label class="govuk-label govuk-radios__label" for="option2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <br>

        <div class="govuk-button-group">
          <a href="" onclick='myFunction()' id="link" style="text-decoration: none;"><button class="govuk-button" data-module="govuk-button" style="display:flex;vertical-align:middle;">Save and continue</button></a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="govuk-link" href="#0" style="color: #1d70b8;display:flex;vertical-align:middle;">Save and return to application overview</a>
        </div>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

<script>
    function myFunction() {
   
        if(document.getElementById('option1').checked) {
            document.getElementById('link').href = "application_71.html";
        }
        if(document.getElementById('option2').checked) {
            document.getElementById('link').href = "application_70.html";
        }
    }
</script>

{% endblock %}
