
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  <!--{% include "../../../includes/new_back.html" %}-->
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" style="margin-bottom: 10px!important;">Probate applications</h1>

        <p class="govuk-body" style="margin-bottom: 0px;">You have 1 application</p>
        
        <div class="govuk-grid-column-two-thirds" style="padding-left: 0px;">

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="height: 4px;background: #1E6FB8;border: none;margin-bottom: 26px;">

            <div style="background-color: #f9f9f9;">
              <div style="padding:20px;">
                <h3 class="govuk-heading-m" style="padding-top: 10px;margin-bottom: 10px;">Application: 1618-8333-9985-7405 </h3>
                <p class="govuk-body" style="margin-bottom: 10px;"><strong>Person who died: David Smith</strong> (8 weeks review started on 22/03/22)</p>
                <!--
                <p class="govuk-body" style="margin-bottom: 10px;">Estimated time for review your application and issue the grant: 
                  <br><strong>8 weeks (started on 13/04/22)</strong>
                </p>
                -->
                <br>
                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                  <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                      Important
                    </h2>
                  </div>
                  <div class="govuk-notification-banner__content">
                    <!--<p class="govuk-notification-banner__heading" style="max-width: 600px">What you need to do: </p>-->
                    <p class="govuk-body" style="max-width: 600px">HMCTS Probate has reviewed your application and needs some more information before they can progress your application. You need to read the feedback and provide the information requested.</p>
                    <p><strong>Feedback</strong></p>
                    <p>“The will you’ve sent is not the original. By law, we need to see the original will and keep it as it becomes public record. An original, legal will must be in writing and have wet signatures of the deceased and both witnesses.”</p>
                    <p><strong>What you need to do next</strong></p>
                    <p>Send us the original will, preferably by ‘tracked with signature’, to: </p>
                    <p class="govuk-body">
                      HMCTS Probate  <br>
                      PO Box 12625<br>
                      Harlow <br>
                      CM209QE
                    </p>
                    <p>Make a copy of the will for your records. </p>
                    <p><strong>Helpful information</strong></p>
                    <p>If the original was made with a solicitor it may be held at their office. If the firm of solicitors that drew up the original are no longer in existence you’ll need to contact the <a href="#0">Solicitor’s Regulation Authority (opens in a new tab)</a> to search their records as they may now hold the original. </p>
                    <p><a href="#0">Find the original will (opens in a new window)</a></p>
                    <p></p>
                  </div>
                </div>
                <p class="govuk-body" style="padding-top: 0px;margin-bottom: 0px;"><strong>Probate progress </strong>(8 weeks started on 13/04/22)</p>
                <table class="govuk-table" style="margin-bottom:20px;">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header" colspan="2"> </th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="font-weight: 400">1. Probate application</th>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green app-task-list__tag" id="list-convictions-status">Received</strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="font-weight: 400">2. Supporting documents</th>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green app-task-list__tag" id="list-convictions-status">Received</strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="font-weight: 400">3. Review application</th>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red app-task-list__tag" id="financial-evidence-status">Stopped</strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="font-weight: 400">4. Issue grant</th>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red app-task-list__tag" id="financial-evidence-status">Not started</strong></td>
                    </tr>
                  </tbody>
                </table>
                <p class="govuk-body" style="padding-top: 20px;margin-bottom: 0px;"><strong>Your application </strong></p>
                <table class="govuk-table" style="margin-bottom:20px;">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header" colspan="2"> </th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"><a href="application_1c.html" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">View and download your application</a></th>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <!--
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"><a href="application_1c.html" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Request and pay for extra copies of the grant of probate</a></th>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    -->
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"><a href="application_1c.html" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Share your application</a></th>
                      <td class="govuk-table__cell"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <br><br>

        </div>

        <div class="govuk-grid-column-one-third" style="padding-right: 0px;">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!" style="height: 4px;background: #1E6FB8;border: none;">
          <h2 class="govuk-heading-m">I want to... </h2>
          <p><a href="#0">Send a message to HMCTS Probate about my application</a></p>
          <p><a href="#0">Read applying for probate guidance (opens in a new tab)</a></p>
          <p><a href="#0">View and edit your personal details</a></p>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Contact
              </span>
            </summary>
            <div class="govuk-inset-text">
              <p>Call the customer contact centre if you have any questions about your application. They cannot give you any legal advice or process any updates to your application.</p>
              <p><strong>Webchat</strong><br>Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
              <p><strong>Telephone</strong><br>0300 303 0648</p>
              <p><strong>Email</strong><br>Email us at <a href="#0">contactprobate@justice.gov.uk</a></p>
              <p><strong>Opening times</strong><br>Monday to Friday, 8am to 6pm. <br>Closed on Saturdays, Sundays and bank holidays.</p>
              <p><a href="#0">Find out about call charges (opens in a new tab)</a>.</p>
            </div>
          </details>
        </div>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
