
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  {% include "../../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" style="padding-bottom: 5px;">Delete application</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 40px;">You are about delete the application</h1>

        <div class="govuk-inset-text">
          Once you delete the application, all the information provided so far will be deleted permanently.
        </div>

        <p class="govuk-body" style="padding-bottom:10px;">Are you sure you want to delete the application permanentely?</p>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
            Yes, I confirm that I want to delete the application
          </label>
        </div>

        <br><br>

        <div class="govuk-button-group">
          <a href="" onclick='myFunction()' id="link" style="text-decoration: none;"><button class="govuk-button govuk-button--warning" data-module="govuk-button" style="display:flex;vertical-align:middle;">Delete application</button></a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="govuk-link" href="#0" style="color: #1d70b8;display:flex;vertical-align:middle;">Return to application overview</a>
        </div>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

<script>
    function myFunction() {
   
        if(document.getElementById('option1').checked) {
            document.getElementById('link').href = "#0";
        }
        if(document.getElementById('option2').checked) {
            document.getElementById('link').href = "#0";
        }
    }
</script>

{% endblock %}
