
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  {% include "../../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" style="padding-bottom: 5px;">Provide estate values</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 40px;">Which Inheritance Tax (IHT) forms did you complete to report the estate’s value to HMRC?</h1>

        <div class="govuk-form-group" style="margin-bottom:20px;">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <!--
            <div id="contact-hint" class="govuk-hint">
              Select one option.
            </div>
            -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item" style="margin-bottom:20px;">
                <input class="govuk-radios__input" id="option1" name="option" type="radio" data-aria-controls="conditional-yes">
                <label class="govuk-label govuk-radios__label" for="option1">
                  IHT 400 and 421
                </label>
                <div id="contact-hint" class="govuk-hint" style="padding-left:15px;">
                  Forms you completed because you have to pay Inheritance Tax.
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="option2" name="option" type="radio" data-aria-controls="conditional-no">
                <label class="govuk-label govuk-radios__label" for="option2">
                  IHT 207
                </label>
                <div id="contact-hint" class="govuk-hint" style="padding-left:15px;">
                  Forms you completed because the person who died was domiciled abroad and because it’s an excepted estate you do not have to pay Inheritance Tax.
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="option3" name="option" type="radio" data-aria-controls="conditional-other">
                <label class="govuk-label govuk-radios__label" for="option3">
                  None of the above, the estate is an ‘excepted estate’
                </label>
              </div>
            </div>          
          </fieldset>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What’s an excepted estate?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">An estate is usually an excepted estate if any of the following apply:</p>
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                  its value is below the current <a href="#0">Inheritance Tax threshold (opens in a new tab)</a>
                </li>
                <li>
                  the estate is worth £650,000 or less and any <a href="#0">unused threshold (opens in a new tab)</a> is being transferred from a spouse or civil partner who died first
                </li>
                <li>
                  the deceased left everything to a spouse or civil partner living in the UK or to a ‘qualifying’ charity and the estate is worth less than £3 million
                </li>
                <li>
                  the deceased lived permanently abroad (a ‘foreign domiciliary’) and died abroad and the value of their UK assets is under £150,000
                </li>
              </ul>
              <p><a href="#0">Find out if the estate qualifies as an excepted estate (opens in a new tab)</a>.</p>
          </div>
        </details>

        <br>

        <div class="govuk-button-group">
          <a href="" onclick='myFunction()' id="link" style="text-decoration: none;"><button class="govuk-button" data-module="govuk-button" style="display:flex;vertical-align:middle;">Save and continue</button></a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="govuk-link" href="#0" style="color: #1d70b8;display:flex;vertical-align:middle;">Save and return to application overview</a>
        </div>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

<script>
    function myFunction() {
   
        if(document.getElementById('option1').checked) {
            document.getElementById('link').href = "application_57.html";
        }
        if(document.getElementById('option2').checked) {
            document.getElementById('link').href = "application_58.html";
        }
        if(document.getElementById('option3').checked) {
            document.getElementById('link').href = "application_59.html";
        }
    }
</script>


{% endblock %}
