
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  <!--{% include "../../../includes/new_back.html" %}-->
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <!--
  <a href="#" class="govuk-back-link" style="padding-top: 0px;">Back</a>
  -->

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <!--
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading" style="max-width: 950px">Your application has been stopped</p>
            <p class="govuk-body" style="max-width: 950px">You need to respond the enquiries in order for us continue reviewing your application. While waiting, the stimated time for approve and issue your grant stops temporally.</p>
          </div>
        </div>
        -->

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" style="margin-bottom: 10px!important;">Case overview - David Smith</h1>

        <p class="govuk-body"><strong>Reference number: 1618-8333-9985-7404 </strong></p>
        
        <div class="govuk-grid-column-two-thirds" style="padding-left: 0px;">

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="height: 4px;background: #1E6FB8;border: none;">

            <!--
            <img src="../public/images/banners/notstarted.png" width="100%" alt="Progress stage: Response submitted">
            -->

            <br>

            <div class="hmcts-progress-bar-vertical" role="progressbar">
              <ol class="hmcts-progress-bar__list">
                <li class="hmcts-progress-bar__list-item">
                  <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
                  <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 1: </span>Application submitted</span>
                </li>
                <li class="hmcts-progress-bar__list-item">
                  <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
                  <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Current Step 2: </span>Documents received</span>
                </li>
                <li class="hmcts-progress-bar__list-item" aria-current="step">
                  <span class="hmcts-progress-bar__icon"></span>
                  <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 3: </span>Application review</span>
                </li>
                <li class="hmcts-progress-bar__list-item">
                  <span class="hmcts-progress-bar__icon"></span>
                  <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 4: </span>Grant <br>issued</span>
                </li>
              </ol>
            </div>
            
            <br><br>

            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  Important
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading" style="max-width: 600px">Your application has been stopped</p>
                <p class="govuk-body" style="max-width: 600px">You need to respond the enquiries in order for us continue reviewing your application. While waiting, the stimated time for approve and issue your grant stops temporally.</p>
              </div>
            </div>

            <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Documents received</h2>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" colspan="2"> </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="font-weight: 400;">Application coversheet or paper with reference number</th>
                  <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag govuk-tag--green" id="list-convictions-status">Received</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="font-weight: 400;">Will</th>
                  <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag govuk-tag--green" id="list-convictions-status">Received</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="font-weight: 400;">Codicil 1</th>
                  <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag govuk-tag--green" id="list-convictions-status">Received</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="font-weight: 400;">Codicil 2</th>
                  <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag govuk-tag--green" id="list-convictions-status">Received</strong></td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-m" style="padding-top: 20px;margin-bottom: 0px;">Application review progress</h2>

            <label class="govuk-label" for="event-name" style="padding-top:10px;margin-bottom: 10px;">Estimated time for approve and issue your grant: <strong>4 weeks</strong></label>

            <label class="govuk-hint" for="event-name" style="padding-top:10px;">The estimated time is for us to review your application. <br>Everytime we contact you to request additional information, the estimated time will stop until you respond the enquiry.</label>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" colspan="2"> </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="font-weight: 400;">1. Examinating application details</th>
                  <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag govuk-tag--green" id="list-convictions-status">Completed</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="font-weight: 400;">2. Examinating the supporting documents</th>
                  <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag govuk-tag--green" id="list-convictions-status">Completed</strong></td>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="font-weight: 400;">3. Raise enquiries if applies</th>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red app-task-list__tag" id="medical-information-status">Enquiries raised</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="font-weight: 400;">4. Approve grant</th>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started yet</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="font-weight: 400;">5. Issue grant</th>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started yet</strong></td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-m" style="padding-top: 20px;margin-bottom: 10px;">Review enquiries</h2>

            <label class="govuk-hint" for="event-name">Select an enquiry link to view the details and respond the enquiry. <br>The application review process stops until you respond the enquiries.</label>

            <table class="govuk-table" style="margin-bottom: 20px;">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" colspan="2"> </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" width="400"><a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Has David Smith other written whises?</a></th>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red app-task-list__tag" id="medical-information-status">Pending action</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">It looks the Codicil 2 is not the original, you need to send the original Codicil 2</a></th>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red app-task-list__tag" id="medical-information-status">Pending action</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="#0" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">You need to upload a copy of your passport for us to validate your identity as executor</a></th>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red app-task-list__tag" id="medical-information-status">Pending action</strong></td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-m" style="padding-top: 30px;margin-bottom: 0px;">Your probate application</h2>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" colspan="2"> </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="application_1c.html" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">View and download your probate application</a></th>
                  <td class="govuk-table__cell"></td>
                </tr>
                <!--
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="application_1c.html" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Request and pay for extra copies of the grant of probate</a></th>
                  <td class="govuk-table__cell"></td>
                </tr>
                -->
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="application_1c.html" aria-describedby="company-information-status" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Share your probate application</a></th>
                  <td class="govuk-table__cell"></td>
                </tr>
              </tbody>
            </table>

            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Update details in your application
            </button>

        </div>

        <div class="govuk-grid-column-one-third" style="padding-right: 0px;">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!" style="height: 4px;background: #1E6FB8;border: none;">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Contact us
              </span>
            </summary>
            <!--
            <h2 class="govuk-heading-m">Contact us </h2>
            -->
            <br><br>
            <p>Call the customer contact centre if you have any questions about your application. They cannot give you any legal advice or process any updates to your application.</p>
            <p><strong>Webchat</strong><br>Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
            <p><strong>Telephone</strong><br>0300 303 0648</p>
            <p><strong>Email</strong><br>Email us at <a href="#0">contactprobate@justice.gov.uk</a></p>
            <p><strong>Opening times</strong><br>Monday to Friday, 8am to 6pm. <br>Closed on Saturdays, Sundays and bank holidays.</p>
          </details>
        </div>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
