
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  {% include "../../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" style="padding-bottom: 5px;">The person who died</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Check your answers </h1>

        <!--<h2 class="govuk-heading-m" style="margin-bottom: 0px;">Your personal details</h2>-->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <dl class="govuk-summary-list govuk-!-margin-bottom-7">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width: 50%;">
                </dt>
                <dd class="govuk-summary-list__value" style="width: 30%;">
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <!--
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do you require a bilingual grant in English and Welsh?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Do you require a bilingual grant in English and Welsh?</span>
                  </a>
                </dd>
              </div>
              -->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What’s the full name of the person who died?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  David Alan James Smith
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> What’s the full name of the person who died?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Did David Smith have assets in another name?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Did David Smith have assets in another name?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What other names did David Smith use?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  David Alan Smith
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> What other names did David Smith use?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What was their date of birth?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  27 March 1952
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> What was their date of birth?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What was the date they died?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  06 June 2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> What was the date they died?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What was their permanent address at the time of their death?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  27 High Street <br>Cheltenham <br>Gloucestershire <br>GL12AB
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> What was their permanent address at the time of their death?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Did David Smith die in England or Wales?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Did David Smith die in England or Wales?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do you have a death certificate or an interim death certificate?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  Death certificate
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Do you have a death certificate or an interim death certificate?</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Did David Smith get married or enter into a civil partnership after the will was signed?
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Did David Smith get married or enter into a civil partnership after the will was signed?</span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <form action="application_18.html" style="padding-top:10px;">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            <!--
            &nbsp;&nbsp;
            <a class="govuk-link" href="javascript:history.back()" style="color: #1d70b8">Save and return to application overview</a>
            -->
          </div>
        </form>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
