
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

{% include "../../../includes/IHT-transformation_header.html" %}



            <main class="govuk-main-wrapper " id="main-content" role="main"> 
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">  

                        <!-- Content -->
                                
                        <h1 class="govuk-heading-l" data-gtm-vis-recent-on-screen-30951291_54="161" data-gtm-vis-first-on-screen-30951291_54="161" data-gtm-vis-total-visible-time-30951291_54="100" data-gtm-vis-has-fired-30951291_54="1">Probate applications</h1>

                        <table class="govuk-table dashboard">
                          <caption class="govuk-table__caption govuk-visually-hidden">Probate applications</caption>
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Case ID</th>
                              <th scope="col" class="govuk-table__header">Person who died</th>
                              <th scope="col" class="govuk-table__header" style="text-align: right;">Date created</th>
                              <th scope="col" class="govuk-table__header">Status</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell  govuk-table__cell--numeric case-id" style="text-align: left;"><a href="1-task_list-continue.html">1659-6112-2910-5925</a></td>
                                <td class="govuk-table__cell">Jane Doe</td>
                                <td class="govuk-table__cell  govuk-table__cell--numeric">07 July 2023</td>
                                <td class="govuk-table__cell">
                                    <strong class="govuk-tag govuk-tag--yellow">
                                        IN PROGRESS
                                      </strong>
                                </td>
                                </td>
                            </tr>
                          </tbody>
                        </table>

                        {% from "govuk/components/button/macro.njk" import govukButton %}

                        {{ govukButton({
                          text: "New application"
                        }) }}

                        <!-- End content -->

                        <br>

                        <details class="govuk-details" data-module="govuk-details" id="contact-us-for-help">

                            <summary class="govuk-details__summary">
                              <span class="govuk-details__summary-text">
                                Contact us for help
                              </span>
                            </summary>

                            <div class="govuk-details__text">
                                <p class="govuk-heading-s" id="avaya-web-chat-header"> Webchat </p>
                                <div id="avaya-webchat-open" class="govuk-body" hidden="">
                                    <a href="#" class="govuk-link" rel="noreferrer noopener" id="avaya-webchat-link">Speak to an advisor online (opens in a new window)</a>
                                </div>

                                <p class="govuk-body" id="avaya-webchat-close" hidden=""> We are sorry, the Contact Centre is now closed. </p>
                                <p class="govuk-body" id="webchat-agent-busy"> All our advisors are busy. Try again in a few minutes. </p>
                                <p class="govuk-body" id="webchat-maintenance" hidden=""> Sorry, we’re having technical difficulties. Try email or telephone instead. </p>

                                <!--
                                <web-chat id="avayaWebchatMetric" class="hidden" chat-title="Ask Probate" locale-url="public/locales/avaya-webchat" url="webchat.ctsc.hmcts.net" secure-connections="true" api-version="1.0" metrics-polling-interval="30" language="English" service="Probate" page-name="Apply for Probate" user="Chat" aria-hidden="true" hidden="" _nghost-nhp-c25="" ng-version="12.2.11">
                                    <div _ngcontent-nhp-c25="" class="chat-header">
                                        <div _ngcontent-nhp-c25="" class="icon-container">
                                            <img _ngcontent-nhp-c25="" alt="Web chat icon" src="">
                                            <h3 _ngcontent-nhp-c25="">Ask Probate</h3>
                                        </div>
                                        <button _ngcontent-nhp-c25="" translate="" class="hide-chat">Hide</button>
                                    </div>
                                    <div _ngcontent-nhp-c25="" class="container">
                                        <app-banner _ngcontent-nhp-c25="" _nghost-nhp-c3="">
                                            <div _ngcontent-nhp-c3="" class="banner collapsed hidden">
                                                <div _ngcontent-nhp-c3="" class="banner-text"></div>
                                                <div _ngcontent-nhp-c3="" class="banner-expand"></div>
                                            </div>
                                        </app-banner>
                                        <app-form _ngcontent-nhp-c25="" _nghost-nhp-c21="">
                                            <form _ngcontent-nhp-c21="" novalidate="" class="ng-untouched ng-pristine ng-invalid">
                                                <strong _ngcontent-nhp-c21="" translate="">Before I transfer you to an adviser, complete the form below</strong>
                                                <div _ngcontent-nhp-c21="" class="form-field">
                                                    <label _ngcontent-nhp-c21="" for="name-field" translate="" class="required">Name</label>
                                                    <input _ngcontent-nhp-c21="" type="text" id="name-field" formcontrolname="name" placeholder="Your name..." class="ng-untouched ng-pristine ng-invalid">
                                                </div>
                                                <div _ngcontent-nhp-c21="" class="form-field">
                                                    <label _ngcontent-nhp-c21="" for="email-field" translate="" class="required">Email</label>
                                                    <input _ngcontent-nhp-c21="" type="text" id="email-field" formcontrolname="email" email="" placeholder="Your email..." class="ng-untouched ng-pristine ng-invalid">
                                                </div>
                                                <div _ngcontent-nhp-c21="" class="form-field">
                                                    <label _ngcontent-nhp-c21="" for="case-field" translate="">Case Id</label>
                                                    <input _ngcontent-nhp-c21="" type="text" id="case-field" formcontrolname="caseId" placeholder="Your case Id..." class="ng-untouched ng-pristine ng-valid">
                                                </div>
                                                <div _ngcontent-nhp-c21="" class="form-field">
                                                    <label _ngcontent-nhp-c21="" for="description-field" translate="" class="required">Reason for contact</label>
                                                    <textarea _ngcontent-nhp-c21="" id="description-field" formcontrolname="description" placeholder="Briefly tell us how we can help you..." class="ng-untouched ng-pristine ng-invalid"></textarea>
                                                </div>
                                                <div _ngcontent-nhp-c21="" class="form-field">
                                                    <input _ngcontent-nhp-c21="" type="checkbox" id="transcript-field" formcontrolname="transcript" class="ng-untouched ng-pristine ng-valid">
                                                    <label _ngcontent-nhp-c21="" for="transcript-field" translate="">Email the transcript to me</label>
                                                </div>
                                                <div _ngcontent-nhp-c21="" class="form-field">
                                                    <label _ngcontent-nhp-c21="" translate="" class="required">Would you like to take part in an Email survey at the end of your Webchat?</label>
                                                    <div _ngcontent-nhp-c21="">
                                                        <input _ngcontent-nhp-c21="" type="radio" name="survey" id="survey-field-yes" value="true" formcontrolname="surveyRequested" class="ng-untouched ng-pristine ng-invalid">
                                                        <label _ngcontent-nhp-c21="" for="survey-field-yes" translate="">Yes</label>
                                                    </div>
                                                    <div _ngcontent-nhp-c21="">
                                                        <input _ngcontent-nhp-c21="" type="radio" name="survey" id="survey-field-no" value="false" formcontrolname="surveyRequested" class="ng-untouched ng-pristine ng-invalid">
                                                        <label _ngcontent-nhp-c21="" for="survey-field-no" translate="">No</label>
                                                    </div>
                                                </div>
                                                <button _ngcontent-nhp-c21="" translate="" class="primary" disabled="">Start chat</button>
                                            </form>
                                        </app-form>
                                    </div>
                                </web-chat>
                                -->

                                <p class="govuk-heading-s govuk-!-padding-top-2"> Telephone</p>
                                <p class="govuk-body"> 0300 303 0648</p>
                                <p class="govuk-heading-s"> Email </p>
                                <p class="govuk-body"> Email us at <a href="mailto:contactprobate@justice.gov.uk" class="govuk-link" tabindex="-1">contactprobate@justice.gov.uk</a>. </p>
                                <p class="govuk-heading-s"> Opening times (webchat and telephone) </p>
                                <p class="govuk-body"> Monday to Friday, 8am to 6pm </p>
                                <p class="govuk-body"> Closed on Saturdays, Sundays and bank holidays </p>
                            </div>

                        </details>

                        <!--
                        <details class="govuk-details" data-module="govuk-details" id="contact-us-for-help">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Contact us for help
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                <p class="govuk-heading-s" id="avaya-web-chat-header"> Webchat </p>
                                <div id="avaya-webchat-open" class="govuk-body" hidden>
                                    <a href="#" class="govuk-link" rel="noreferrer noopener" id="avaya-webchat-link">Speak to an advisor online (opens in a new window)</a>
                                </div>
                                <p class="govuk-body" id="avaya-webchat-close" hidden> We are sorry, the Contact Centre is now closed. </p>
                                <p class="govuk-body" id="webchat-agent-busy" hidden> All our advisors are busy. Try again in a few minutes. </p>
                                <p class="govuk-body" id="webchat-maintenance"> Sorry, we’re having technical difficulties. Try email or telephone instead. </p>
                                  
                                <p class="govuk-heading-s govuk-!-padding-top-2"> Telephone</p>
                                <p class="govuk-body"> 0300 303 0648</p>
                                <p class="govuk-heading-s"> Email </p>
                                <p class="govuk-body"> Email us at <a href="mailto:contactprobate@justice.gov.uk" class="govuk-link" tabindex="-1">contactprobate@justice.gov.uk</a>. </p>
                                <p class="govuk-heading-s"> Opening times (webchat and telephone) </p>
                                <p class="govuk-body"> Monday to Friday, 8am to 6pm </p>
                                <p class="govuk-body"> Closed on Saturdays, Sundays and bank holidays </p>
                            </div>
                        </details>
                        -->

                    </div>
                </div>
            </main>

        </div>

        {% include "../../../includes/as_it_is_footer.html" %}
        
        <!--

        <footer class="govuk-footer " role="contentinfo">
          <div class="govuk-width-container ">
            <div class="govuk-footer__meta">
              <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                <ul class="govuk-footer__inline-list">
                  
                    <li class="govuk-footer__inline-list-item">
                      <a class="govuk-footer__link" href="/cookies">
                        Cookies
                      </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                      <a class="govuk-footer__link" href="/privacy-policy">
                        Privacy policy
                      </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                      <a class="govuk-footer__link" href="/accessibility-statement">
                        Accessibility statement
                      </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                      <a class="govuk-footer__link" href="/terms-conditions">
                        Terms and conditions
                      </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                      <a class="govuk-footer__link" href="/contact-us">
                        Contact us
                      </a>
                    </li>
                </ul>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  class="govuk-footer__licence-logo"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 483.2 195.7"
                  height="17"
                  width="41"
                >
                    <path
                        fill="currentColor"
                        d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
                    />
                </svg>
                <span class="govuk-footer__licence-description">
                  All content is available under the
                  <a
                    class="govuk-footer__link"
                    href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                    rel="license"
                  >Open Government Licence v3.0</a>, except where otherwise stated
                </span>
              </div>
              <div class="govuk-footer__meta-item">
                <a
                  class="govuk-footer__link govuk-footer__copyright-logo"
                  href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
                >© Crown copyright</a>
              </div>
            </div>
          </div>
        </footer>

        -->

        {% include "../../../includes/as_it_is_scripts.html" %}
        
        <!--

        <script src="/public/javascripts/jquery/jquery.min.js"></script>
        <script src="/public/javascripts/govuk-frontend/govuk/all.js"></script>
        <script nonce="bd200ca7434241309fdaa26b8e4dd5ae">window.GOVUKFrontend.initAll()</script>
        <script src="/public/javascripts/dropzone.js"></script>
        <script nonce="bd200ca7434241309fdaa26b8e4dd5ae">
            const documentUploadConfig = {
                csrfToken: 'kaZVQ96Y-t2wlLMgnM2bHzlVdZD5TLTXQ8_8',
                validMimeTypes: 'image/jpeg,image/bmp,image/tiff,image/png,application/pdf',
                maxFiles: '10',
                maxSizeBytes: '10485760',
                timeout: '',
                content: {
                    removeFileText: 'Remove',
                    errorSummaryHeading: 'There is a problem',
                    invalidFileType: 'Save your file as a jpg, bmp, tiff, png or PDF file and try again',
                    invalidFileTypeSummary: 'You have used a file type that can&rsquo;t be accepted',
                    maxFiles: 'You can upload a maximum of 10 files',
                    maxFilesSummary: 'You have uploaded too many files',
                    maxSize: 'Use a file that is under 10MB and try again',
                    maxSizeSummary: 'Your file is too large to upload',
                    uploadFailed: 'Select your document and try again',
                    uploadFailedSummary: 'Your document failed to upload',
                    uploadTimeout: 'The file may be too big, reduce the file size and try again or post the death certificate',
                    uploadTimeoutSummary: 'The file has taken too long to upload'
                }
            };
        </script>
        <script src="/public/javascripts/document-upload.js"></script>
        <script src="https://webchat-client.ctsc.hmcts.net/chat-client/1/app-es2015.js" defer type="module" crossorigin="anonymous"></script>
        <script src="https://webchat-client.ctsc.hmcts.net/chat-client/1/app-es5.js" nomodule defer crossorigin="anonymous"></script>

        -->

        <script src="/public/javascripts/avaya-webchat-3.js"></script>

        <script>
            function myFunction() {
                if(document.getElementById('option1').checked) {
                    document.getElementById('link').href = "page_11.html";
                }
                if(document.getElementById('option2').checked) {
                    document.getElementById('link').href = "page_10a.html";
                }
            }
        </script>

    </body>
    
</html>