body { overflow: hidden;}

.hmcts-progress-bar__icon--complete {
  background-image: url(../images/icon-progress-tick.png);
}

.hmcts-progress-bar-vertical .hmcts-progress-bar__list-item  { width:100px; display:inline-block }
.hmcts-progress-bar-vertical .hmcts-progress-bar__icon { background-color: #fff;border: 4px solid #CECECE}
.hmcts-progress-bar-vertical .hmcts-progress-bar__icon--complete {  background-color: #1D70B8; border: 4px solid #1D70B8}
.hmcts-progress-bar-vertical .hmcts-progress-bar__list::before { border-top: 4px solid #CECECE; }
.hmcts-progress-bar-vertical .hmcts-progress-bar__list-item[aria-current=step] span.hmcts-progress-bar__icon {  background-color:#1D70B8; border:4px solid #1D70B8 }

  @media screen and (max-width:1200px) {

    .hmcts-progress-bar-vertical .hmcts-progress-bar__list-item { max-width:45px; display:block; margin-top: 10px; }
    .hmcts-progress-bar-vertical .hmcts-progress-bar__list::before { border-top:none; position:absolute; top: 0px; border-left: 6px solid #CECECE; height: 100%; position:absolute; left:20px; top:0; }
    .hmcts-progress-bar-vertical .hmcts-progress-bar__label { margin-top:-25px; margin-left:50px; width:350px; text-align:left }

  }
  
