
{% block header %}
  {% include "includes/query_new_header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        
                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                                <div>

                                    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                    <span class="govuk-caption-l" style="padding-top: 20px;">Raise a query</span>

                                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Are you submitting a notice of change?</h1>

                                    <div class="govuk-form-group">
                                      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                          <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="option1" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                            <label class="govuk-label govuk-radios__label" for="contact">
                                              Yes
                                            </label>
                                          </div>
                                          <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="option2" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                            <label class="govuk-label govuk-radios__label" for="contact">
                                              No
                                            </label>
                                          </div>
                                        </div>
                                      </fieldset>
                                    </div>

                                    <div class="govuk-button-group" style="padding-top: 10px;">
                                      <a href="" onclick='myFunction()' id="link" style="text-decoration: none;"><button class="govuk-button" data-module="govuk-button" style="display:flex;vertical-align:middle;">Continue</button></a>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <a class="govuk-link" href="page_1.html" style="color: #1d70b8;display:flex;vertical-align:middle;">Cancel and return to case</a>
                                    </div>

                                    <p style="padding: 0 0 2em 0;"></p>

                                </div>

                            </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


<script>
    function myFunction() {
   
        if(document.getElementById('option1').checked) {
            document.getElementById('link').href = "page_18.html";
        }
        if(document.getElementById('option2').checked) {
            document.getElementById('link').href = "page_19.html";
        }
      }
</script>


{% block footer %}
  {% include "includes/query_new_footer.html" %}
{% endblock %}
        