
{% block header %}
  {% include "includes/query_new_header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
                        
                <div class="govuk-width-container">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">

                            <div class="" style="display: flex; justify-content: space-between; ">

                                <div>

                                    <span class="govuk-caption-l" style="padding-top: 0px">1234-5678-9012-3456</span>
                                  
                                    <h1 class="govuk-heading-xl">Smith v Peterson  &nbsp;&nbsp;&nbsp; </h1>

                                </div>

                                <div style="display: flex; align-items:right; padding-top: 10px;">
                                    <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published" selected="">Select action</option>
                                        <option value="published">Submit amended application</option>
                                        <option value="published">Link respondent</option>
                                        <option value="published">Add Note</option>
                                        <option value="published">Upload document</option>
                                        <option value="updated">Stop representing a client</option>
                                        <option value="updated">Raise a query</option>
                                        <option value="updated">Print</option>
                                    </select>

                                    <div>
                                        <a href="#0">
                                            <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">Go</button>
                                        </a>
                                    </div>

                                </div>

                            </div>

                            <!--
                            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border: 5px solid #d4351c; background-color: #d4351c;">
                                <div class="govuk-notification-banner__header" >
                                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                          Important
                                    </h2>
                                </div>
                                <div class="govuk-notification-banner__content" style="position: relative;">
                                    <p class="govuk-notification-banner__heading" style="max-width: 1200px;"> 
                                        <span style="font-family: GDS Transport,arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 700;-webkit-box-sizing: border-box;box-sizing: border-box;display: inline-block;position: absolute;left: 0;min-width: 35px;min-height: 35px;margin-top: -7px;border: 3px solid #0b0c0c;border-radius: 50%;color: #fff;background: #0b0c0c;font-size: 30px;line-height: 29px;text-align: center;-webkit-user-select: none;-ms-user-select: none;-moz-user-select: none;user-select: none;margin-left: 20px;margin-top: 0px;">!</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        There are 2 queries on this case. <a href="p#0" class="govuk-link govuk-link--no-visited-state">View queries</a>
                                    </p>
                                </div>
                            </div>
                            -->

                            <div class="govuk-tabs" data-module="govuk-tabs">

                                  <h2 class="govuk-tabs__title">
                                    Contents
                                  </h2>

                                  <ul class="govuk-tabs__list">
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        History
                                      </a>
                                    </li>
                                    
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Queries
                                      </a>
                                    </li>

                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Petition
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        AOS
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Outcome of Decree Nisi
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Documents
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Marriage Certificate
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Hearings
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Case file
                                      </a>
                                    </li>
                                  </ul>

                                  <div class="govuk-tabs__panel" id="1">

                                    <div class="govuk-grid-row">

                                        <div class="govuk-grid-column-two-thirds">

                                            <a href="javascript:history.back()" style="font-size: 19px;">Back to case queries</a>

                                            <h2 class="govuk-heading-l" style="margin-top: 30px;margin-bottom: 10px;">Queries details</h2>

                                            <dl class="govuk-summary-list">
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key" style="width: 280px;"></dt>
                                                <dd class="govuk-summary-list__value"></dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Is the query hearing related?
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  Yes
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  When is the next hearing?
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  18 Nov 2022
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Query subject
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  Food
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Query body
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  Can I have doughnuts in the hearings?
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Submission date
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  9 Sep 2022
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Response status
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  <strong class="govuk-tag govuk-tag--orange">WAITING RESPONSE</strong>
                                                </dd>
                                              </div>
                                            </dl>

                                            <div class="govuk-button-group" style="padding-top: 10px;">
                                              <a href="#0">
                                                <button class="govuk-button" data-module="govuk-button">
                                                  Update query
                                                </button>
                                              </a>
                                              <a href="#0">
                                                <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                                                  Delete query
                                                </button>
                                              </a>
                                            </div>

                                        </div>

                                    </div>

                              </div>

                              <br><br>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>
    
</body>

</html>

{% block footer %}
  {% include "includes/query_new_footer.html" %}
{% endblock %}
