
{% block header %}
  {% include "includes/query_new_header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        
                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                                <div>

                                    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                    <span class="govuk-caption-l" style="padding-top: 20px;">Raise a query</span>

                                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Review query details</h1>
                                    
                                    <dl class="govuk-summary-list">
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key"></dt>
                                        <dd class="govuk-summary-list__value"></dd>
                                        <dd class="govuk-summary-list__actions"></dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Lorum ipsum?
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Yes
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="#0">
                                            Change<span class="govuk-visually-hidden"> </span>
                                          </a>
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          if yes
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Lorum
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="#0">
                                            Change<span class="govuk-visually-hidden"> </span>
                                          </a>
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Is the query hearing related?
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Yes
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="#0">
                                            Change<span class="govuk-visually-hidden"> </span>
                                          </a>
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          When is the next hearing?
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          18 Nov 2022
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="#0">
                                            Change<span class="govuk-visually-hidden"> </span>
                                          </a>
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Query subject
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Food
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="#0">
                                            Change<span class="govuk-visually-hidden"> </span>
                                          </a>
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Query body
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Can I have doughnuts in the hearings?
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="#0">
                                            Change<span class="govuk-visually-hidden"> </span>
                                          </a>
                                        </dd>
                                      </div>
                                    </dl>

                                    <form action="page_7.html" style="padding-top: 10px;">
                                      <div class="govuk-button-group">
                                        <button class="govuk-button" data-module="govuk-button">
                                          Continue
                                        </button>
                                        <a class="govuk-link" href="page_1.html" style="color: #1d70b8">Cancel and return to case</a>
                                      </div>
                                    </form>

                                    <p style="padding: 0 0 2em 0;"></p>

                                </div>

                            </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


<script>
    function myFunction() {
   
        if(document.getElementById('option1').checked) {
            document.getElementById('link').href = "page_4.html";
        }
        if(document.getElementById('option2').checked) {
            document.getElementById('link').href = "page_4.html";
        }
      }
</script>


{% block footer %}
  {% include "includes/query_new_footer.html" %}
{% endblock %}
        