
{% block header %}
  {% include "includes/query_new_header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        
                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                                <div>

                                    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                    <span class="govuk-caption-l" style="padding-top: 20px;">Raise a query</span>

                                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Submitting a Notice of change</h1>

                                    <h2 class="govuk-heading-m">Details</h2>

                                    <p class="govuk-body">
                                      Use this form, sometimes called a ‘notice of acting’ or ‘notice of change’, to tell a court that:
                                      
                                      <ul class="govuk-list govuk-list--bullet">
                                        <li>your legal representative is no longer acting on your behalf, and you are now acting on your own behalf</li>
                                        <li>you have appointed a legal representative to act on your behalf</li>
                                        <li>you have changed your legal representative</li>
                                      </ul>
                                      <p>If you have appointed or changed your legal representative, they will complete the form for you.</p>
                                      <p>You (or your legal representative) must send copies of the form to:</p>
                                      <ul class="govuk-list govuk-list--bullet">
                                        <li>the court</li>
                                        <li>all people and organisations (‘parties’) involved in the case</li>
                                        <li>any previous legal representatives</li>
                                      </ul>
                                      <p>Find more court and tribunal forms by category.</p>
                                      <p>Find out how HM Courts and Tribunals Service uses personal information you give when you fill in a form.</p>
                                    </p>
                                    <form action="page_3.html" style="padding-top: 10px;">
                                      <div class="govuk-button-group">
                                        <button disabled="disabled" aria-disabled="true" class="govuk-button" data-module="govuk-button">
                                          Continue
                                        </button>
                                        <a class="govuk-link" href="#0" style="color: #1d70b8">Return to case</a>
                                      </div>
                                    </form>

                                    <p style="padding: 0 0 2em 0;"></p>

                                </div>

                            </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


{% block footer %}
  {% include "includes/query_new_footer.html" %}
{% endblock %}
        