
{% block header %}
  {% include "includes/query_new_header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        
                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                                <div>
                                    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
                                    <span class="govuk-caption-l" style="padding-top: 20px;">Raise a query</span>
                                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Upload a file to the query</h1>
                                    <h2 class="govuk-heading-m">#1675-1779-2666-9761</h2>
                                    <details class="govuk-details" data-module="govuk-details">
                                      <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                          File upload requirements
                                        </span>
                                      </summary>
                                      <div class="govuk-details__text">
                                        <ul class="govuk-list govuk-list--bullet">
                                          <li>File formats: MS Word, PDF</li>
                                          <li>File size per document: up to 20 megabytes (MB)</li>
                                          <li>Files cannot be password protected</li>
                                        </ul>
                                        <p>You can't upload executable files (.exe), zip or other archive files due to virus risks.</p>
                                      </div>
                                    </details>
                                    <div class="govuk-form-group">
                                      <label class="govuk-label" for="file-upload-1">
                                        Upload a file
                                      </label>
                                      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                                    </div>
                                    <div class="govuk-button-group" style="padding-top: 10px;">
                                      <a href="page_23.html" id="link" style="text-decoration: none;">
                                        <button class="govuk-button" data-module="govuk-button" style="display:flex;vertical-align:middle;">Continue</button></a>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <a class="govuk-link" href="page_1.html" style="color: #1d70b8;display:flex;vertical-align:middle;">Cancel and return to case</a>
                                    </div>
                                    <p style="padding: 0 0 2em 0;"></p>
                                </div>

                            </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>

{% block footer %}
  {% include "includes/query_new_footer.html" %}
{% endblock %}
        