
{% block header %}
  {% include "includes/query_new_header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
                        
                <div class="govuk-width-container">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">

                            <div class="" style="display: flex; justify-content: space-between; ">

                                <div>

                                    <span class="govuk-caption-l" style="padding-top: 0px">1234-5678-9012-3456</span>
                                  
                                    <h1 class="govuk-heading-xl">Smith v Peterson  &nbsp;&nbsp;&nbsp; </h1>

                                </div>

                                <div style="display: flex; align-items:right; padding-top: 10px;">
                                    <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published" selected="">Select action</option>
                                        <option value="published">Submit amended application</option>
                                        <option value="published">Link respondent</option>
                                        <option value="published">Add Note</option>
                                        <option value="published">Upload document</option>
                                        <option value="updated">Stop representing a client</option>
                                        <option value="updated">Raise a query</option>
                                        <option value="updated">Print</option>
                                    </select>

                                    <div>
                                        <a href="#0">
                                            <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">Go</button>
                                        </a>
                                    </div>

                                </div>

                            </div>

                            <!--
                            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                              <div class="govuk-notification-banner__header">
                                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                  Important
                                </h2>
                              </div>
                              <div class="govuk-notification-banner__content">
                                <h3 class="govuk-notification-banner__heading" style="max-width: 1200px;">
                                  A query on this case has been responded. </h3>
                                  <p class="govuk-body">This notification will be removed once you <a href="page_11.html" class="govuk-notification-banner__link">view the query response</a>.</p>
                              </div>
                            </div>
                            -->

                            <div class="govuk-tabs" data-module="govuk-tabs">

                                  <h2 class="govuk-tabs__title">
                                    Contents
                                  </h2>

                                  <ul class="govuk-tabs__list">
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        History
                                      </a>
                                    </li>
                                    
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Queries
                                      </a>
                                    </li>

                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Petition
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        AOS
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Outcome of Decree Nisi
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Documents
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Marriage Certificate
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Hearings
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#0">
                                        Case file
                                      </a>
                                    </li>
                                  </ul>

                                  <div class="govuk-tabs__panel" id="1">

                                    <div class="govuk-grid-row">

                                        <div class="govuk-grid-column-two-thirds">

                                            <a href="page_26.html" style="font-size: 19px;">Back to case queries</a>

                                            <h2 class="govuk-heading-l" style="margin-top: 30px;margin-bottom: 30px;">Queries details</h2>

                                            <!--<h3 class="govuk-heading-m" style="margin-top: 40px;margin-bottom: 0px;">Query</h3>-->

                                            <div style="background: #f3f2f1;height: 30px;padding: 10 10 10 10;border: 0px;font-size: 19px; border-bottom: 1px solid #b1b4b6;">
                                              <h3 class="govuk-heading-m" style="vertical-align: middle;text-align: left;margin-bottom: 0px;">Query</h3>
                                            </div>

                                            <dl class="govuk-summary-list" style="margin-bottom: 50px">
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key" style="width: 300">
                                                  new question
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  Yes
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  if yes
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  Lorum
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Is the query hearing related?
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  Yes
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  When is the next hearing?
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  18 Nov 2022
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Query subject
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  Food
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Query body
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  Can I have doughnuts in the hearings?
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Submission date
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  9 Sep 2022
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Response status
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  <strong class="govuk-tag">RESPONDED</strong>
                                                </dd>
                                              </div>
                                            </dl>

                                            <!--<h3 class="govuk-heading-m" style="margin-top: 40px;margin-bottom: 0px;">Response</h3>-->

                                            <div style="background: #f3f2f1;height: 30px;padding: 10 10 10 10;border: 0px;font-size: 19px; border-bottom: 1px solid #b1b4b6;">
                                              <h3 class="govuk-heading-m" style="vertical-align: middle;text-align: left;margin-bottom: 0px;">Response</h3>
                                            </div>

                                            <dl class="govuk-summary-list" style="margin-bottom: 50px">
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key" style="width: 300">
                                                  Respondant name
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  John Smith
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Response
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  The court will not provide any food or drinks, but attendants are able to bring their own food to be consumed outside the hearing. See details in the attachments.
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Response date
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  10 Sep 2022
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Attachments
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  <a href="#0">court_regulations.pdf</a>
                                                  <br>
                                                  <a href="#0">list_permitted_drinks_in_hearings.xlsx</a>
                                                </dd>
                                              </div>
                                            </dl>

                                            <div style="background: #f3f2f1;height: 30px;padding: 10 10 10 10;border: 0px;font-size: 19px; border-bottom: 1px solid #b1b4b6;">
                                              <h3 class="govuk-heading-m" style="vertical-align: middle;text-align: left;margin-bottom: 0px;">Follow question</h3>
                                            </div>

                                            <dl class="govuk-summary-list" style="margin-bottom: 50px">
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key" style="width: 300">
                                                  Follow question
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  If I bring my own doughnuts, can I eat quietly in the hearing? I promese do not mess
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Submission date
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  11 Sep 2022
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                  Response status
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  <strong class="govuk-tag govuk-tag--orange">WAITING RESPONSE</strong>
                                                </dd>
                                              </div>
                                            </dl>

                                            <div class="govuk-button-group" style="padding-top: 0px;">
                                              <a href="#0">
                                                <button class="govuk-button" data-module="govuk-button">
                                                  Ask follow question
                                                </button>
                                              </a>
                                              <!--
                                              <a href="#0">
                                                <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                                                  Delete query
                                                </button>
                                              </a>
                                              -->
                                            </div>

                                        </div>

                                    </div>

                              </div>

                              <br><br>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>
    
</body>

</html>

{% block footer %}
  {% include "includes/query_new_footer.html" %}
{% endblock %}
