
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../includes/new_phase.html" %}
  {% include "../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Apply for probate</h1>

        <p>
          Probate gives you the legal right to deal with a person’s property, money and possessions (their ‘estate’) after they’ve died.
        </p>

        <p>
          You need to fill in the application online then send your documents to the probate registry. We’ll tell you exactly what you need to send when you have completed your application.
        </p>
        
        <h2 class="govuk-heading-m">If more than one person is applying</h2>

        <p>
          Up to 4 people can apply for probate.
        </p>

        <p>
          All applicants will need to agree with the legal declaration and their names will appear on the grant of probate.
        </p>

        <p>
          Everyone applying must have their own email address. That’s because we can’t discuss details with anyone but the people named in the application.
        </p>

        <p>
          They will also need a mobile phone and access to the Internet.
        </p>

        <h2 class="govuk-heading-m">Fees</h2>

        <p>
          It costs £273 to apply for probate if the value of the estate is more than £5,000. It’s free if the value is less.
        </p>

        <p>
          Extra copies of the grant of probate cost £1.50 each.
        </p>

        <p>
          You’ll need to pay online by debit or credit card.
        </p>

        <!--

        <h2 class="govuk-heading-m">Apply for probate in Welsh</h2>

        <p>
          You can apply in Welsh by post. Use <a href="#0">form PA1P (opens in a new window)</a> if the person who died left a will, and <a href="#0">form PA1A (opens in a new window)</a> if there is no will.
        </p>

        <h2 class="govuk-heading-m">If you have feedback</h2>

        <p>
          We’re currently building this service. If you notice things that don’t work as well as they should, you can use the ‘feedback’ link at the top of the page.
        </p>

        -->

        <br> 

        <a href="application_2.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

        <br><br>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p>
          <strong>Other ways to apply</strong>
        </p>

        <p>
          You can apply in Welsh by post. Use <a href="#0">form PA1P (opens in a new window)</a> if the person who died left a will, and <a href="#0">form PA1A (opens in a new window)</a> if there is no will.
        </p>

        <p>
          <strong>If you have feedback</strong>
        </p>

        <p>
          We’re currently building this service. If you notice things that don’t work as well as they should, you can use the ‘feedback’ link at the top of the page.
        </p>
      
      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
