
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

    {% include "../../../includes/as_it_is_header.html" %}

    <main class="govuk-main-wrapper " id="main-content" role="main"> 
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">  

                <!-- Content -->
                        
                <div class="govuk-form-group">

                    <fieldset class="govuk-fieldset">
  
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                              What is the reason for Maria Calas Viva name change?
                            </h1>
                        </legend>

                        <div class="govuk-radios govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="currentNameReason" name="currentNameReason" type="radio" value="optionMarriage">
                                <label class="govuk-label govuk-radios__label" for="currentNameReason">
                                   Marriage
                                </label>
                            </div>
                            
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="currentNameReason-2" name="currentNameReason" type="radio" value="optionDivorce">
                                <label class="govuk-label govuk-radios__label" for="currentNameReason-2">
                                   Divorce
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="currentNameReason-3" name="currentNameReason" type="radio" value="optionDeedPoll">
                                <label class="govuk-label govuk-radios__label" for="currentNameReason-3">
                                   Change by deed poll
                                </label>
                            </div>
                            
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="currentNameReason-4" name="currentNameReason" type="radio" value="optionOther" aria-controls="conditional-currentNameReason-4" aria-expanded="false">
                                <label class="govuk-label govuk-radios__label" for="currentNameReason-4">
                                    Other
                                </label>
                            </div>
                            
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-currentNameReason-4">

                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="otherReason">
                                      Reason for name change
                                    </label>
                                    <input class="govuk-input govuk-!-width-one-half" id="otherReason" name="otherReason" type="text" value="" maxlength="50">
                                </div>

                            </div>

                        </div>
                      
                    </fieldset>

                </div>

                <form action="page_50.html">
                    <div class="govuk-form-group">
                        <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
                            Save and continue
                        </button>
                    </div>
                </form>

                <p class="govuk-body"><a href="#0" class="govuk-link">Save and close</a></p>

                <!-- End content -->

                <br><br>

                <details class="govuk-details" data-module="govuk-details" id="contact-us-for-help">

                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Contact us for help
                      </span>
                    </summary>

                    <div class="govuk-details__text">
                        <p class="govuk-heading-s" id="avaya-web-chat-header"> Webchat </p>
                        <div id="avaya-webchat-open" class="govuk-body" hidden="">
                            <a href="#" class="govuk-link" rel="noreferrer noopener" id="avaya-webchat-link">Speak to an advisor online (opens in a new window)</a>
                        </div>

                        <p class="govuk-body" id="avaya-webchat-close" hidden=""> We are sorry, the Contact Centre is now closed. </p>
                        <p class="govuk-body" id="webchat-agent-busy"> All our advisors are busy. Try again in a few minutes. </p>
                        <p class="govuk-body" id="webchat-maintenance" hidden=""> Sorry, we’re having technical difficulties. Try email or telephone instead. </p>

                        <p class="govuk-heading-s govuk-!-padding-top-2"> Telephone</p>
                        <p class="govuk-body"> 0300 303 0648</p>
                        <p class="govuk-heading-s"> Email </p>
                        <p class="govuk-body"> Email us at <a href="mailto:contactprobate@justice.gov.uk" class="govuk-link" tabindex="-1">contactprobate@justice.gov.uk</a>. </p>
                        <p class="govuk-heading-s"> Opening times (webchat and telephone) </p>
                        <p class="govuk-body"> Monday to Friday, 8am to 6pm </p>
                        <p class="govuk-body"> Closed on Saturdays, Sundays and bank holidays </p>
                    </div>

                </details>

            </div>
        </div>
    </main>

    </div>

    {% include "../../../includes/as_it_is_footer.html" %}

    {% include "../../../includes/as_it_is_scripts.html" %}

    <script>
        function myFunction() {
            if(document.getElementById('option1').checked) {
                document.getElementById('link').href = "page_50.html";
            }
            if(document.getElementById('option2').checked) {
                document.getElementById('link').href = "page_50.html";
            }
        }
    </script>

</body>

</html>