
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

    {% include "../../../includes/as_it_is_header.html" %}

    <main class="govuk-main-wrapper " id="main-content" role="main"> 
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">  

                <!-- Content -->
                        
                <div id="check-your-answers">
        <h1 class="govuk-heading-l">Check your answers</h1>
        <p class="govuk-body">Order extra copies of the grant</p>
        <dl class="govuk-summary-list">
            
    
    
        
            
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding-right: 190px;">How many extra official copies of the grant do you need for use in the UK?</dt>
                    
                        <dd class="govuk-summary-list__value">2</dd>
                    
                    <dd class="govuk-summary-list__actions">
                        
                            
                            <a class="govuk-link" href="/copies-uk">Change</a>
                        
                    </dd>
                </div>
            
        
    

            
    
    
        
            
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Did Peter Coward have assets outside the UK?</dt>
                    
                        <dd class="govuk-summary-list__value">Yes</dd>
                    
                    <dd class="govuk-summary-list__actions">
                        
                            
                            <a class="govuk-link" href="/assets-overseas">Change</a>
                        
                    </dd>
                </div>
            
        
    

            
    
    
        
            
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">How many extra certified copies of the grant do you need for use outside the UK?</dt>
                    
                        <dd class="govuk-summary-list__value">1</dd>
                    
                    <dd class="govuk-summary-list__actions">
                        
                            
                            <a class="govuk-link" href="/copies-overseas">Change</a>
                        
                    </dd>
                </div>
            
        
    

        </dl>

        <div class="govuk-form-group">
            

  
    
  

  
  

<a href="page_59.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Save and continue
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
  </svg></a>

        </div>
    </div>







                <!-- End content -->

                <br><br>

                <details class="govuk-details" data-module="govuk-details" id="contact-us-for-help">

                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Contact us for help
                      </span>
                    </summary>

                    <div class="govuk-details__text">
                        <p class="govuk-heading-s" id="avaya-web-chat-header"> Webchat </p>
                        <div id="avaya-webchat-open" class="govuk-body" hidden="">
                            <a href="#" class="govuk-link" rel="noreferrer noopener" id="avaya-webchat-link">Speak to an advisor online (opens in a new window)</a>
                        </div>

                        <p class="govuk-body" id="avaya-webchat-close" hidden=""> We are sorry, the Contact Centre is now closed. </p>
                        <p class="govuk-body" id="webchat-agent-busy"> All our advisors are busy. Try again in a few minutes. </p>
                        <p class="govuk-body" id="webchat-maintenance" hidden=""> Sorry, we’re having technical difficulties. Try email or telephone instead. </p>

                        <p class="govuk-heading-s govuk-!-padding-top-2"> Telephone</p>
                        <p class="govuk-body"> 0300 303 0648</p>
                        <p class="govuk-heading-s"> Email </p>
                        <p class="govuk-body"> Email us at <a href="mailto:contactprobate@justice.gov.uk" class="govuk-link" tabindex="-1">contactprobate@justice.gov.uk</a>. </p>
                        <p class="govuk-heading-s"> Opening times (webchat and telephone) </p>
                        <p class="govuk-body"> Monday to Friday, 8am to 6pm </p>
                        <p class="govuk-body"> Closed on Saturdays, Sundays and bank holidays </p>
                    </div>

                </details>

            </div>
        </div>
    </main>

    </div>

    {% include "../../../includes/as_it_is_footer.html" %}

    {% include "../../../includes/as_it_is_scripts.html" %}

    <script>
        function myFunction() {
            if(document.getElementById('executorNotified').checked) {
                document.getElementById('link').href = "page_52.html";
            }
            if(document.getElementById('executorNotified-2').checked) {
                document.getElementById('link').href = "page_52.html";
            }
        }
    </script>

</body>

</html>