
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

    {% include "../../../includes/as_it_is_header.html" %}

    <main class="govuk-main-wrapper " id="main-content" role="main"> 
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">  

                <!-- Content -->

                    <div id="check-your-answers">

                        <h1 class="govuk-heading-l">Check your answers</h1>
                        <p class="govuk-body" id="main-heading-content">Check the information below carefully. This will form a record of your application for probate. It will also be stored as a public record, and will be able to be viewed online.</p>
                        <h2 class="govuk-heading-m">About the person who died</h2>
                        
                        <dl class="govuk-summary-list">
                             
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key" style="padding-right: 190px;">Do you require a bilingual grant in English and Welsh?</dt>
                                <dd class="govuk-summary-list__value">No</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">First name and any middle names</dt>
                                <dd class="govuk-summary-list__value">Peter</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Last name</dt>
                                <dd class="govuk-summary-list__value">Coward</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Did Peter Coward have assets in another name?</dt>
                                <dd class="govuk-summary-list__value">No</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                            
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Did Peter Coward get married or enter into a civil partnership after the latest codicil was signed?</dt>
                                <dd class="govuk-summary-list__value">Yes</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">What was their date of birth?</dt>
                                <dd class="govuk-summary-list__value">1 January 1970</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                            
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">What was the date that they died?</dt>
                                <dd class="govuk-summary-list__value">5 January 2022</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">What was the permanent address at the time of their death?</dt>
                                <dd class="govuk-summary-list__value">Hazelmere Cwmcrawnon Road Llangynidr Crickhowell NP8 1LS United Kingdom</dd>
                                <dd class="govuk-summary-list__actions">
                                   <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Did Peter Coward die in England or Wales?</dt>
                                <dd class="govuk-summary-list__value">No</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Is the original foreign death certificate in English?</dt>
                                <dd class="govuk-summary-list__value">No</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Is the English translation included in the foreign death certificate?</dt>
                                <dd class="govuk-summary-list__value">Yes</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                        </dl>

                        <h2 class="govuk-heading-m">Condition of the will</h2>

                        <dl class="govuk-summary-list">
                        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Does the will have any visible damages or marks?</dt>
                                <dd class="govuk-summary-list__value">Yes</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Describe the damage</dt>
                                <dd class="govuk-summary-list__value">
                                    Staple or punch holes
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                    
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Do you know why the will has damages or marks?</dt>
                                <dd class="govuk-summary-list__value">Yes</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Reason for the damages or marks to the will</dt>
                                <dd class="govuk-summary-list__value">Lorum ipsum est</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Do you know who may have made damages or marks to the will?</dt>
                                <dd class="govuk-summary-list__value">Yes</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">First name</dt>
                                <dd class="govuk-summary-list__value">Paul</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                    
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Last name</dt>
                                <dd class="govuk-summary-list__value">Water</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Do you know roughly when the damages or marks appeared on the will?</dt>
                                <dd class="govuk-summary-list__value">Yes</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                    
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Date of roughly when the damages or marks happened to the will</dt>
                                <dd class="govuk-summary-list__value">1/1/2015</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                    
                        </dl>
                                
                        <h2 class="govuk-heading-m">Condition of the codicils</h2>
                        
                        <dl class="govuk-summary-list">
                        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Were any updates (‘codicils’) made to the will?</dt>
                                <dd class="govuk-summary-list__value">Yes</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                    
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">How many updates (‘codicils’) were made to the will?</dt>
                                <dd class="govuk-summary-list__value">2</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Do the codicils have any visible damages or marks?</dt>
                                <dd class="govuk-summary-list__value">Yes</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Describe the damage</dt>
                                <dd class="govuk-summary-list__value">
                                    Staple or punch holes
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Do you know why the codicils have visible damages or marks?</dt>
                                <dd class="govuk-summary-list__value">Yes</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Reason for the visible damages or marks to the codicils</dt>
                                <dd class="govuk-summary-list__value">Lorum</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Do you know who may have made visible damages or marks to the codicils?</dt>
                                <dd class="govuk-summary-list__value">Yes</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                    
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">First name</dt>
                                <dd class="govuk-summary-list__value">Name</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                    
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Last name</dt>
                                <dd class="govuk-summary-list__value">Lastname</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Do you know roughly when the visible damages or marks appeared on the codicils?</dt>
                                <dd class="govuk-summary-list__value">Yes</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Date of roughly when the damages or marks happened to the codicils</dt>
                                <dd class="govuk-summary-list__value">1/1/1980</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Did the person who died leave any other written wishes?</dt>
                                <dd class="govuk-summary-list__value">Yes</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                        </dl>
                        
                        <h2 class="govuk-heading-m">Inheritance tax</h2>

                        <dl class="govuk-summary-list">

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Did you complete IHT forms to report the estate’s values?</dt>
                                <dd class="govuk-summary-list__value">Yes</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                            
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Which IHT forms did you complete to report the estate’s value?</dt>
                                <dd class="govuk-summary-list__value">400 &amp; 421</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>
                            
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Gross value for probate in £</dt>
                                <dd class="govuk-summary-list__value">100000</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Net value for probate in £</dt>
                                <dd class="govuk-summary-list__value">80000</dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Change</a>
                                </dd>
                            </div>

                        </dl>

                        
                        <h2 class="govuk-heading-m">The executors</h2>
                        
                        <dl class="govuk-summary-list">

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">How many past and present executors are named on the will and any updates (‘codicils’)?</dt>
                                <dd class="govuk-summary-list__value"></dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Answer</a>
                                </dd>
                            </div>

                        </dl>

                        <h3 class="govuk-heading-s">About you</h3>
                        
                        <dl class="govuk-summary-list">

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">First name and any middle names</dt>
                                <dd class="govuk-summary-list__value"></dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Answer</a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Last name</dt>
                                <dd class="govuk-summary-list__value"></dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Answer</a>
                                </dd>
                            </div>
                            
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Is your name exactly what appears on the will?</dt>
                                <dd class="govuk-summary-list__value"></dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Answer</a>
                                </dd>
                            </div>
                            
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Phone number</dt>
                                <dd class="govuk-summary-list__value"></dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Answer</a>
                                </dd>
                            </div>
                        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">What is your address?</dt>
                                <dd class="govuk-summary-list__value"></dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#0">Answer</a>
                                </dd>
                            </div>
                        
                        </dl>

                        <p class="govuk-body save-this-page-link">
                            <em class="icon icon-file-download"></em>
                            <a class="govuk-link anchor-margin-left" id="checkAnswerHref" href="#0">Save this page (10kb PDF)</a>
                        </p>

                        <div class="govuk-form-group">

                            <a href="page_30.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                                Save and continue
                                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                                </svg>
                            </a>       
                        </div>

                    </div>

                <!-- End content -->

                <br>

                <details class="govuk-details" data-module="govuk-details" id="contact-us-for-help">

                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Contact us for help
                      </span>
                    </summary>

                    <div class="govuk-details__text">
                        <p class="govuk-heading-s" id="avaya-web-chat-header"> Webchat </p>
                        <div id="avaya-webchat-open" class="govuk-body" hidden="">
                            <a href="#" class="govuk-link" rel="noreferrer noopener" id="avaya-webchat-link">Speak to an advisor online (opens in a new window)</a>
                        </div>

                        <p class="govuk-body" id="avaya-webchat-close" hidden=""> We are sorry, the Contact Centre is now closed. </p>
                        <p class="govuk-body" id="webchat-agent-busy"> All our advisors are busy. Try again in a few minutes. </p>
                        <p class="govuk-body" id="webchat-maintenance" hidden=""> Sorry, we’re having technical difficulties. Try email or telephone instead. </p>

                        <p class="govuk-heading-s govuk-!-padding-top-2"> Telephone</p>
                        <p class="govuk-body"> 0300 303 0648</p>
                        <p class="govuk-heading-s"> Email </p>
                        <p class="govuk-body"> Email us at <a href="#0" class="govuk-link" tabindex="-1">contactprobate@justice.gov.uk</a>. </p>
                        <p class="govuk-heading-s"> Opening times (webchat and telephone) </p>
                        <p class="govuk-body"> Monday to Friday, 8am to 6pm </p>
                        <p class="govuk-body"> Closed on Saturdays, Sundays and bank holidays </p>
                    </div>

                </details>

            </div>
        </div>
    </main>

    </div>

    {% include "../../../includes/as_it_is_footer.html" %}

    {% include "../../../includes/as_it_is_scripts.html" %}

    <script>
        function myFunction() {
            if(document.getElementById('deceasedWrittenWishes').checked) {
                document.getElementById('link').href = "page_30.html";
            }
            if(document.getElementById('deceasedWrittenWishes-2').checked) {
                document.getElementById('link').href = "page_30.html";
            }
        }
    </script>

</body>

</html>