 
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  <!--{% include "../../../includes/new_back.html" %}-->
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <!--
  <a href="#" class="govuk-back-link" style="padding-top: 0px;">Back</a>
  -->

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Probate applications</h1>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="240">Case ID</th>
              <th scope="col" class="govuk-table__header" width="300">Person who died</th>
              <th scope="col" class="govuk-table__header">Application date</th>
              <th scope="col" class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="application_3.html" style="text-decoration: none;color:#1d70b8;">1652-5802-3043-5274</a></td>
              <td class="govuk-table__cell">Ann-Marie Peterson</td>
              <td class="govuk-table__cell">23 June 2022</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">In progress</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color: #1d70b8">6378-2905-7345-8568</a></td>
              <td class="govuk-table__cell">Charles Becker</td>
              <td class="govuk-table__cell">4 June 2022</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">completed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color: #1d70b8">2408-2186-3725-9034</a></td>
              <td class="govuk-table__cell">Emma Tomlinson-Silverstain</td>
              <td class="govuk-table__cell">18 May 2022</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">completed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color: #1d70b8">9267-2035-7625-3737</a></td>
              <td class="govuk-table__cell">Anthony Carrington</td>
              <td class="govuk-table__cell">13 April 2022</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">completed</strong></td>
            </tr>
          </tbody>
        </table>

        <a href="#0" style="text-decoration: none;">
          <button class="govuk-button" data-module="govuk-button">
            New probate application
          </button>
        </a>

        <br><br>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Probate applications support
            </span>
          </summary>
          <div class="govuk-details__text">
            <p><strong>Webchat</strong><br>Sorry, we’re having technical difficulties. Try email or telephone instead.</p>
            <p><strong>Telephone</strong><br>0300 303 0648</p>
            <p><strong>Email</strong><br>Email us at <a href="#0">contactprobate@justice.gov.uk</a></p>
            <p><strong>Opening times (webchat and telephone)</strong><br>Monday to Friday, 8am to 6pm. <br>Closed on Saturdays, Sundays and bank holidays.</p>
          </div>
        </details>
      
      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
