{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% block head %}
{% include "includes/head_gatekeeper.html" %}
{% endblock %}

{% block pageTitle %}
Hearings management
{% endblock %}

{% block header %}

<header class="hmcts-header" role="banner" style="background-color: #8d100e;">
    <div class="govuk-width-container" style="max-width: 1700px;">
        <!-- Header - Top row -->
        <div style="margin: 0 auto;">
            <div style="display: flex; justify-content: center;">
                <div style="width: 100px; ">
                    <img src="/public/images/govlogowhite.png" width="73" height="60" style="margin-top:10px;">
                </div>
                <div style="display: flex; flex-grow: 1; flex-direction: column;">
                    <div style="display: flex; flex-grow: 1;">
                        <div class="hmcts-header__logo">
                            <a class="hmcts-header__link" href="/" aria-current="page">Judicial case manager</a>
                        </div>
                        <div style="display: flex; flex-grow: 1;">
                        </div>
                        <div class="hmcts-header__content">
                            <nav class="hmcts-header__navigation" aria-label="Account navigation">
                                <ul class="hmcts-header__navigation-list">
                                    <li class="hmcts-header__navigation-item">
                                        <a class="hmcts-header__navigation-link" href="#">
                                            Sign out
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div  style="background-color: #8d100e; display: flex; flex-grow: 1; flex-direction: row; ">
                        <div>
                            <nav class="hmcts-primary-navigation" aria-label="Primary navigation" style="background-color: #8d100e; ">
                                <ul class="hmcts-primary-navigation__list">
                                    <li class="hmcts-primary-navigation__item" >
                                        <a class="hmcts-primary-navigation__link" href="#0">
                                            My work
                                        </a>
                                    </li>
                                    <li class="hmcts-primary-navigation__item">
                                        <a class="hmcts-primary-navigation__link" href="#0">
                                            All work
                                        </a>
                                    </li>
                                    <li class="hmcts-primary-navigation__item" style="color:#ffffff;">
                                            Case list
                                    </li>
                                    <li class="hmcts-primary-navigation__item">
                                        <a class="hmcts-primary-navigation__link" href="#0">
                                            Search cases
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div style="display: flex; flex-grow: 1;"></div>
                        <div style="display: flex; flex-direction: row; ">
                            <p style="color: white; margin-top:8px; margin-bottom: 0px;">16-digit case reference:  &nbsp;</p>
                            <input class="govuk-input" id="hmctsref" name="hmctsref" type="text" spellcheck="false" style="width:219px;border-color: #8d100e;">
                            <a href="/opencase" role="button" draggable="false" class="govuk-button govuk-button--secondary"
                               style="height:36px; margin-left: 4px; margin-top: 2px;  margin-bottom: 0px;">
                                Find
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- BETA BANNER -->

<div style=" max-width:1700px; margin: 0 auto;">
    <div class="govuk-phase-banner govuk-width-container" style=" max-width:1700px;  min-width:960px;">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
              beta
            </strong>
            <span class="govuk-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>
</div>

<!-- BODY -->

<div class="govuk-width-container" style="max-width: 1700px;">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                
                <div class="" style="display: flex; justify-content: space-between; ">

                    <div>

                        <!--

                        <span class="govuk-caption-l" style="padding-top: 0px">1234-5678-9012-3456</span>
                      
                        <h1 class="govuk-heading-xl">Smith v Peterson  &nbsp;&nbsp;&nbsp; </h1>

                        -->

                        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Smith v Peterson  &nbsp;&nbsp;&nbsp; </h1>

                        <span class="govuk-body-l"s style="padding-top: 0px">FamilyMan ID: mockcaseID 1234-5678-9012-3456</span>

                        <br><br>

                        <span class="govuk-body-l"s style="padding-top: 0px">CCD ID: #1643479764006240</span>

                        <br><br><br>

                    </div>

                    <div style="display: flex; align-items:right; padding-top: 10px;">
                        <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                        <select class="govuk-select" id="sort" name="sort">
                            <option value="published" selected="">Select action</option>
                            <option value="published">Allocation decision</option>
                            <option value="published">Allocated Judge</option>
                            <option value="published">Manage hearings</option>
                            <option value="published">Add the gatekeeping order</option>
                            <option value="updated">Manage orders</option>
                            <option value="updated">Add a case note</option>
                            <option value="updated">Manage documents</option>
                            <option value="updated">Send and replay to messages</option>
                            <option value="updated">Notify gatekeeper</option>
                            <option value="updated">Add case flag</option>
                            <option value="updated">Return application</option>
                        </select>

                        <div>
                            <a href="page_2.html">
                                <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">Go</button>
                            </a>
                        </div>

                    </div>

                </div>

                <!--
                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border: 5px solid #d4351c; background-color: #d4351c;">
                    <div class="govuk-notification-banner__header" >
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                              Important
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content" style="position: relative;">
                        <p class="govuk-notification-banner__heading" style="max-width: 1200px;"> 
                            <span style="font-family: GDS Transport,arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 700;-webkit-box-sizing: border-box;box-sizing: border-box;display: inline-block;position: absolute;left: 0;min-width: 35px;min-height: 35px;margin-top: -7px;border: 3px solid #0b0c0c;border-radius: 50%;color: #fff;background: #0b0c0c;font-size: 30px;line-height: 29px;text-align: center;-webkit-user-select: none;-ms-user-select: none;-moz-user-select: none;user-select: none;margin-left: 20px;margin-top: 0px;">!</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            There are 4 active flags on this case. <a href="creator_case_flags" class="govuk-link govuk-link--no-visited-state">View case flags</a>
                        </p>
                    </div>
                </div>
                -->

                <div class="govuk-tabs" data-module="govuk-tabs">

                      <h2 class="govuk-tabs__title">
                        Contents
                      </h2>

                      <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                          <a class="govuk-tabs__tab" href="creator_history">
                            Summary
                          </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#7">
                            Hearings
                          </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#3">
                            Orders
                          </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#4">
                            People in the case
                          </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#5">
                            Legal basis
                          </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#6">
                            Documents
                          </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#8">
                            Judicial messages
                          </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#9">
                            History
                          </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#9">
                            Payment history
                          </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#9">
                            Documents sent to parties
                          </a>
                        </li>
                      </ul>

                      <div class="govuk-tabs__panel" id="1">
                            <div>

                                <h3 class="govuk-heading-m" style="margin-bottom: 0px;">Case information</h3>

                                <table class="govuk-table">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header" width="400"></th>
                                            <th scope="col" class="govuk-table__header"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell"><a href="#0" style="color: #005ea5;">Add or remove case flag</a></td>
                                            <td class="govuk-table__cell"></td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Orders requested</td>
                                            <td class="govuk-table__cell">Care order</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Date of issue</td>
                                            <td class="govuk-table__cell">29 Jan 2022</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">26-week timeline date</td>
                                            <td class="govuk-table__cell">30 Jul 2022</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell"><a href="#0" style="color: #005ea5;">Extend 26-week timeline</a></td>
                                            <td class="govuk-table__cell"></td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Allocated judge or magistrate</td>
                                            <td class="govuk-table__cell">Her Honour Judge Moley</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Email address</td>
                                            <td class="govuk-table__cell">moley@example.com</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Court to issue</td>
                                            <td class="govuk-table__cell">Family Court sitting at Swansea</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3 class="govuk-heading-m" style="margin-bottom: 0px;">Next hearing</h3>

                                <table class="govuk-table">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header" width="400"></th>
                                            <th scope="col" class="govuk-table__header"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Type</td>
                                            <td class="govuk-table__cell">Case management</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Date</td>
                                            <td class="govuk-table__cell">1 Feb 2022</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3 class="govuk-heading-m" style="margin-bottom: 0px;">Pople in the case</h3>

                                <table class="govuk-table">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header" width="400"></th>
                                            <th scope="col" class="govuk-table__header"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Number of children</td>
                                            <td class="govuk-table__cell">1</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Main contact</td>
                                            <td class="govuk-table__cell">John Smith</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Email address</td>
                                            <td class="govuk-table__cell">solicitor@email.com</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">First respondent's last name</td>
                                            <td class="govuk-table__cell">Bloggs</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <br><br>

                            </div>
                      </div>
                            
                </div>

            </div>
        </div>
    </main>
</div>

{% endblock %}

{% block footer %}
  {% include "includes/gatekeeping_new_footer.html" %}
{% endblock %}




