
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

{% include "../../../includes/IHT-transformation_header.html" %}

    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main"> 
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">  

                <!-- Content -->
                        
                <div class="govuk-form-group">

                    <fieldset class="govuk-fieldset">
  
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                What are the values of the estate you entered on form IHT421?
                            </h1>
                        </legend>

                        <p class="govuk-hint">
                            You can find these values on the completed IHT421 form.
                            <br><br>
                            The values you enter must be whole numbers, and must not include decimals, full stops and commas. For example 25000, not 25,000.
                        </p>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="grossValueField">
                                Gross value of assets for probate
                            </label>
                            <div class="govuk-input__wrapper">
                                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                <input class="govuk-input govuk-!-width-one-third" id="grossValueField" name="grossValueField" type="text" value="" maxlength="13">
                            </div>
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="grossValueField">
                                Net value of the estate for probate
                            </label>
                            <div class="govuk-input__wrapper">
                                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                <input class="govuk-input govuk-!-width-one-third" id="grossValueField" name="grossValueField" type="text" value="" maxlength="13">
                            </div>
                        </div>

                    </fieldset>

                </div>

                {% from "govuk/components/button/macro.njk" import govukButton %}

                {{ govukButton({
                  text: "Save and continue",
                  href: "#"
                }) }}

                <p class="govuk-body"><a href="saved_apps.html" class="govuk-link">Save and close</a></p>

                <!-- End content -->

                <br>

                <details class="govuk-details" data-module="govuk-details" id="contact-us-for-help">

                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Contact us for help
                      </span>
                    </summary>

                    <div class="govuk-details__text">
                        <p class="govuk-heading-s" id="avaya-web-chat-header"> Webchat </p>
                        <div id="avaya-webchat-open" class="govuk-body" hidden="">
                            <a href="#" class="govuk-link" rel="noreferrer noopener" id="avaya-webchat-link">Speak to an advisor online (opens in a new window)</a>
                        </div>

                        <p class="govuk-body" id="avaya-webchat-close" hidden=""> We are sorry, the Contact Centre is now closed. </p>
                        <p class="govuk-body" id="webchat-agent-busy"> All our advisors are busy. Try again in a few minutes. </p>
                        <p class="govuk-body" id="webchat-maintenance" hidden=""> Sorry, we’re having technical difficulties. Try email or telephone instead. </p>

                        <p class="govuk-heading-s govuk-!-padding-top-2"> Telephone</p>
                        <p class="govuk-body"> 0300 303 0648</p>
                        <p class="govuk-heading-s"> Email </p>
                        <p class="govuk-body"> Email us at <a href="mailto:contactprobate@justice.gov.uk" class="govuk-link" tabindex="-1">contactprobate@justice.gov.uk</a>. </p>
                        <p class="govuk-heading-s"> Opening times (webchat and telephone) </p>
                        <p class="govuk-body"> Monday to Friday, 8am to 6pm </p>
                        <p class="govuk-body"> Closed on Saturdays, Sundays and bank holidays </p>
                    </div>

                </details>

            </div>
        </div>
    </main>

    </div>

    {% include "../../../includes/as_it_is_footer.html" %}

    {% include "../../../includes/as_it_is_scripts.html" %}

    <script>
        function myFunction() {
            if(document.getElementById('option1').checked) {
                document.getElementById('link').href = "page_25.html";
            }
            if(document.getElementById('option2').checked) {
                document.getElementById('link').href = "page_25.html";
            }
        }
    </script>

</body>

</html>