
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

    {% include "../../../includes/as_it_is_header.html" %}

    <main class="govuk-main-wrapper " id="main-content" role="main"> 
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">  

                <!-- Content -->
                        
                <form class="form" method="post" autocomplete="off" action="page_54b">
                <input type="hidden" name="_csrf">
                
    <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  
    <h1 class="govuk-fieldset__heading">
      Notify the other executors who are applying for probate
    </h1>
  
  </legend>
  

        <p class="govuk-body">Once you’ve notified the other executors who are applying, they’ll be sent an email telling them the legal statement is ready to agree.</p>
        <div class="govuk-inset-text">
  A grant of probate can’t be issued until all the executors who are applying agree that the legal statement is correct.
</div>


        <h2 class="govuk-heading-m">If the other executors who are applying don’t agree</h2>
        <p class="govuk-body">Anyone who doesn’t agree with the legal statement will be asked to contact you to discuss what needs changing.</p>
        <p class="govuk-body">You can continue to make changes to your application until everyone has agreed the legal statement.</p>

        <h2 class="govuk-heading-m">If you change the information on your application</h2>
        <p class="govuk-body">If you make any changes, you’ll need to contact the other applying executors to let them know the legal statement has been updated and is ready for them to agree.</p>
        <p class="govuk-body">They can always see the most up to date version of the legal statement using the link we email them.</p>

        <h2 class="govuk-heading-m">The applying executor’s contact details</h2>
        
            
        
            
                <div class="govuk-grid-row word-wrap">
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">Maria Calas</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">maria@email.com</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">07123456780</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <a href="#0" class="govuk-link">Change</a>
                        </p>
                    </div>
                </div>
            
        
    

</fieldset>


    <div class="govuk-form-group">
        

  
    
  

<button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
  Notify the other executors who are applying
</button>

    </div>

            </form>









                <br><br>

                <p class="govuk-body"><a href="#0" class="govuk-link">Save and close</a></p>

                <!-- End content -->

                <br>

                <details class="govuk-details" data-module="govuk-details" id="contact-us-for-help">

                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Contact us for help
                      </span>
                    </summary>

                    <div class="govuk-details__text">
                        <p class="govuk-heading-s" id="avaya-web-chat-header"> Webchat </p>
                        <div id="avaya-webchat-open" class="govuk-body" hidden="">
                            <a href="#" class="govuk-link" rel="noreferrer noopener" id="avaya-webchat-link">Speak to an advisor online (opens in a new window)</a>
                        </div>

                        <p class="govuk-body" id="avaya-webchat-close" hidden=""> We are sorry, the Contact Centre is now closed. </p>
                        <p class="govuk-body" id="webchat-agent-busy"> All our advisors are busy. Try again in a few minutes. </p>
                        <p class="govuk-body" id="webchat-maintenance" hidden=""> Sorry, we’re having technical difficulties. Try email or telephone instead. </p>

                        <p class="govuk-heading-s govuk-!-padding-top-2"> Telephone</p>
                        <p class="govuk-body"> 0300 303 0648</p>
                        <p class="govuk-heading-s"> Email </p>
                        <p class="govuk-body"> Email us at <a href="mailto:contactprobate@justice.gov.uk" class="govuk-link" tabindex="-1">contactprobate@justice.gov.uk</a>. </p>
                        <p class="govuk-heading-s"> Opening times (webchat and telephone) </p>
                        <p class="govuk-body"> Monday to Friday, 8am to 6pm </p>
                        <p class="govuk-body"> Closed on Saturdays, Sundays and bank holidays </p>
                    </div>

                </details>

            </div>
        </div>
    </main>

    </div>

    {% include "../../../includes/as_it_is_footer.html" %}

    {% include "../../../includes/as_it_is_scripts.html" %}

    <script>
        function myFunction() {
            if(document.getElementById('option1').checked) {
                document.getElementById('link').href = "page_40a.html";
            }
            if(document.getElementById('option2').checked) {
                document.getElementById('link').href = "page_50.html";
            }
        }
    </script>

</body>

</html>