
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  {% include "../../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" style="padding-bottom: 5px;">Confirm legal statement</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 40px;">Check the legal statement and make your declaration</h1>

        <p class="govuk-body">This statement is based on the information you have in your application. <br>It will be hold as public record.</p>

      </div>
    </div>

    <br>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-panel" style="background-color: #f3f2f1;text-align: left;">
          <h2 class="govuk-heading-s">In the High Court of Justice<br>Family Division<br>(Probate)</h2>
          <br>
          <p class="govuk-heading-l">Legal statement</p>
          <p class="govuk-body">I, Mo Smith of 72 Guild Street, London, SE23 6FH, United Kingdom, make the following statement:</p>
          <p class="govuk-heading-s">The person who died </p>
          <p class="govuk-body">David Alan James Smith was born on 27 March 1952 and died on 22 November 2020, domiciled in England and Wales. They were also known as David Smith.</p>
          <p class="govuk-heading-s">The estate of the person who died </p>
          <p class="govuk-body">The gross value for the estate amounts to £160,000.00 and the net value for the estate amounts to £158,000.00.</p>
          <p class="govuk-body">To the best of my knowledge, information and belief, there was no land vested in David Alan James Smith which was settled previously to the death (and not by the will) of David Alan James Smith which remained settled land notwithstanding such death.</p>
          <p class="govuk-heading-s">Condition of the will </p>
          <p class="govuk-body">I confirm that the will is in the same condition as when found by me or I have provided an explanation in writing accompanying this application to explain the will’s condition and that nothing of a testamentary nature has been added or removed from the will. </p>   
          <p class="govuk-heading-s">Executors applying for probate </p>
          <p class="govuk-body">I, Mo Smith, an executor named in the will or codicils as Mo Smith, am applying for probate. </p>
          <p class="govuk-body">I will send to the probate registry what I believe to be the true and original last will and testament, and codicil of David Alan James Smith. </p>
          <p class="govuk-heading-s">Executors not applying for probate </p>
          <p class="govuk-body">Mary Smith, an executor named in the will or codicils, is not making this application now and gave up the right to do so in the future. </p>
          <p class="govuk-heading-l">Declaration </p>
          <span class="govuk-body">I confirm that I will administer the estate of David Alan James Smith according to law, I will:
          <ul class="govuk-list govuk-list--bullet">
            <li>collect the whole estate </li>
            <li>keep the full details (an inventory) of the estate</li>
            <li>keep a full account of how the estate has been administered</li>
          </ul>
          </span>
          <span class="govuk-body">If the probate registry (court) asks me to do so, I will: 
          <ul class="govuk-list govuk-list--bullet">
            <li>provide the full details of the estate and how it has been administered</li>
            <li>return the grant of probate to the court</li>
          </ul>
          </span>
          <span class="govuk-body">I understand that:
            <ul class="govuk-list govuk-list--bullet">
            <li>my application will be rejected if I do not answer any questions about the information I have given.</li>
            <li>proceedings for contempt of court may be brought against the undersigned if it is found that the evidence provided is deliberately untruthful or dishonest, as well as revocation of the grant.</li>
          </ul>
          </span>
        </div>

        <br>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  I confirm that I will administer the estate of the person who died according to law, and that my application is truthful.
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <!--
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Once you click “Save and continue”, you cannot change your answers.
          </strong>
        </div>
        -->

        <form action="application_78.html">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="govuk-link" href="#0" style="color: #1d70b8">Save and return to application overview</a>
          </div>
        </form>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
