
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<!-- Body starts here -->


<div class="govuk-width-container">

  <!--
  <a href="#" class="govuk-back-link" style="padding-top: 0px;">Back</a>
  -->

  <main class="govuk-main-wrapper" style="padding-top: 0px;">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Design prototypes</h1>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Family Public Law</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="450">Prototypes</th>
              <th scope="col" class="govuk-table__header">Last changes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">tbd</td>
              <td class="govuk-table__cell">tbd</td>
            </tr>
          </tbody>
        </table>

        <br><br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Probate</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="450">Prototypes</th>
              <th scope="col" class="govuk-table__header">Last changes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="probate/new_header/header_1.html" style="text-decoration: none;color:#1d70b8;">New service's header</a>
              </td>
              <td class="govuk-table__cell">01 August 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="probate/new_dashboard/dashboard.html" style="text-decoration: none;color:#1d70b8;">New dashboard page</a>
              </td>
              <td class="govuk-table__cell">01 August 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="probate/status_page/status_page.html" style="text-decoration: none;color:#1d70b8;">New status page</a>
              </td>
              <td class="govuk-table__cell">03 August 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="probate/new_application/application_1.html" style="text-decoration: none;color:#1d70b8;">First time user journey </a>
              </td>
              <td class="govuk-table__cell">03 August 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="probate/condition_of_will/application_1.html" style="text-decoration: none;color:#1d70b8;">In progress user journey &nbsp;(condition of will) </a>
              </td>
              <td class="govuk-table__cell">03 August 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">General inclusivility and content improvements</td>
              <td class="govuk-table__cell">Pending</td>
            </tr>
          </tbody>
        </table>
      
      </div>
    </div>

    <br><br>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Usability testing</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="400">Prototype</th>
              <th scope="col" class="govuk-table__header" width="80">Team</th>
              <th scope="col" class="govuk-table__header" width="60">Sprint</th>
              <th scope="col" class="govuk-table__header" width="100">Start date</th>
              <th scope="col" class="govuk-table__header" width="100">End date</th>
              <th scope="col" class="govuk-table__header" width="200">User</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Condition of will</td>
              <td class="govuk-table__cell">Probate</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">8 Aug 22</td>
              <td class="govuk-table__cell">12 Aug 22</td>
              <!--<td class="govuk-table__cell">Members of public</td>-->
              <td class="govuk-table__cell">Solicitor</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <br><br>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
