
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<!-- Body starts here -->


<div class="govuk-width-container">

  <!--
  <a href="#" class="govuk-back-link" style="padding-top: 0px;">Back</a>
  -->

  <main class="govuk-main-wrapper" style="padding-top: 0px;">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Design prototypes</h1>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 10px;">Family Public Law</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="450">Prototypes</th>
              <th scope="col" class="govuk-table__header">Last changes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">tbd</td>
              <td class="govuk-table__cell">tbd</td>
            </tr>
          </tbody>
        </table>

        <br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 1px;">Probate</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="450">Prototypes</th>
              <th scope="col" class="govuk-table__header">Last changes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="probate/index_probate.html" style="text-decoration: none;color:#1d70b8;">Apply to probate</a>
              </td>
              <td class="govuk-table__cell">08 August 2022</td>
            </tr>
          </tbody>
        </table>
      
      </div>
    </div>

    <br>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 10px;">Usability testing</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="400">Prototype</th>
              <th scope="col" class="govuk-table__header" width="60">Version</th>
              <th scope="col" class="govuk-table__header" width="80">Team</th>
              <th scope="col" class="govuk-table__header" width="100">Start date</th>
              <th scope="col" class="govuk-table__header" width="100">End date</th>
              <th scope="col" class="govuk-table__header" width="200">User</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Apply to probate</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">Probate</td>
              <td class="govuk-table__cell">8 Aug 22</td>
              <td class="govuk-table__cell">12 Aug 22</td>
              <!--<td class="govuk-table__cell">Members of public</td>-->
              <td class="govuk-table__cell">Solicitor</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <br><br>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
