<!DOCTYPE html>
<html lang="en" class="govuk-template">

{% include "includes/new_head.html" %}

<body class="govuk-template__body ">

  {% include "includes/new_script.html" %}

  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

  {% include "includes/new_header.html" %}

  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <h1 class="govuk-heading-xl">Default page template</h1>
    </main>
  </div>

  {% include "includes/new_footer.html" %}

</body>

</html>