
{% extends "layout_probate.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../../includes/new_phase.html" %}
  {% include "../../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 40px;">You need to tell us about an executor</h1>

        <p class="govuk-body">Mary Smith, an executor named in the will of David Smith, was not included in your application for probate.  </p>

        <p class="govuk-body">Can you confirm the executor is not applying because of any of these reasons:  </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>died in the lifetime of the deceased</li>
          <li>they died after the deceased, if so provide the date of death </li>
          <li>that they can set aside their right as an executor 'power reserved' and you've given them notice of this application in writing, this only applies if there are other executors of equal entitlement applying themselves or through an attorney.</li>
        </ul>

        <p class="govuk-body">If they have not reserved their right to apply for probate and do not want to be an executor of the estate, they must complete <a href="#0">form PA15 (opens in a new window)</a> (PA17 when the firm of Solicitors are renouncing) to give up their right as an executor to the estate. </p>

        <p class="govuk-body">If the executor is not capable of managing their affairs within the meaning of the Mental Capacity Act 2005 and are unable to act then <a href="#0">submit a PA14 (opens in a new window)</a>. It can be signed by a GP, registered psychiatrist, registered approved mental health professional, registered social worker, registered psychologist, a state registered nurse/mental health nurse or registered occupational therapist. If you have a Deputy Order or a Registered Enduring power of attorney medical evidence may not be required.</p>

        <br>

        <div class="govuk-form-group">
          <!--
          <div id="more-detail-hint" class="govuk-hint">
            Do not include personal or financial information, like your National Insurance number or credit card details.
          </div>
          -->
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
            The information I have provided in this statement is correct to the best of my knowledge and understand that it will be stored as a public record. I understand that proceedings for contempt of court may be brought against me if I am found to have been deliberately untruthful or dishonest.
          </label>
        </div>

        <br>

        <form action="page_d.html" style="padding-top:10px;">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Submit
            </button>
            &nbsp;&nbsp;
            <a class="govuk-link" href="javascript:history.back()" style="color: #1d70b8">Return to application overview</a>
          </div>
        </form>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
