
{% extends "layout_divorce.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../includes/new_phase.html" %}
  {% include "../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" style="padding-bottom: 5px;">Alternative Service</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 40px;">You need to apply for help with fees </h1>

        <p class="govuk-body">You need to apply for <a href="#0" target="_blank">help with your fees (opens in new tab)</a> before you continue with this application. </p>

        <div class="govuk-inset-text">
          Enter the court form number ‘D11’ when asked. This will be one of the first questions when you <a href="#0" target="_blank">apply for help with your fees (opens in new tab)</a>. 
        </div>

        <p class="govuk-body">After you have applied then you will receive a Help With Fees reference number. You should enter the reference number when you return to this application. </p>

        <p class="govuk-body">If you have a Help With Fees reference number then you can <a href="#0">enter it here</a>.</p>

        <p class="govuk-body"><a href="#0">Save and sign out</a></p>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
