
{% extends "layout_divorce.html" %}

{% block pageTitle %}
  Apply for probate
{% endblock %}

{% block beforeContent %}
  {% include "../../includes/new_phase.html" %}
  {% include "../../includes/new_back.html" %}
{% endblock %}

{% block content %}

<!-- Body starts here -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper" style="padding-top: 0px">

    <!-- Content starts here -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 40px;">Check and confirm payment </h1>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <dl class="govuk-summary-list govuk-!-margin-bottom-7">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width: 50%;">
                </dt>
                <dd class="govuk-summary-list__value" style="width: 30%;">
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total to pay
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  £53
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!--<a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Total to pay</span>
                  </a>-->
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Card number
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  ************3456
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Card number</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Expiry date
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  04/2023
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Expiry date</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name on card
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  Mo A Smith
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Name on card</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Billing address
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  27 High Street <br>Cheltenham <br>Gloucestershire <br>GL12AB <br> United Kingdom
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Billing address</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email to send invoice
                </dt>
                <dd class="govuk-summary-list__value" style="padding-left: 10px;padding-right: 0px;">
                  mo.smith@email.com
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#0" style="color:#1d70b8;width: 10%">
                    Change<span class="govuk-visually-hidden"> Email to send invoice</span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </div>      

        <form action="alternative_10.html">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
             Confirm payment 
            </button>
            <!--
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel</a>
            -->
          </div>
        </form>

        <p class="govuk-body"><a href="#" class="govuk-link">Save and sign out</a></p>

      </div>
    </div>

    <!-- Content ends here -->

  </main>
</div>

<!-- Body finish here -->

{% endblock %}
